In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
from IPython.display import display
import datetime
import time
import math
import warnings
warnings.filterwarnings("ignore")
import glob

import matplotlib as mpl
mpl.rcParams['figure.figsize'] = (25,10)
mpl.rcParams['axes.grid'] = False

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/Mohammad-Kaosain-Akbar/NILM-two-years-dataset/main/Data_Greener_all.csv')
df['Time']= pd.to_datetime(df['Time'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43824 entries, 0 to 43823
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Time               43824 non-null  datetime64[ns]
 1   Ventilation        43824 non-null  float64
 2   Sokets plug        43824 non-null  float64
 3   Lighting           43824 non-null  float64
 4   Other electricity  43824 non-null  float64
 5   Cooling            43824 non-null  float64
 6   Heating            43824 non-null  float64
dtypes: datetime64[ns](1), float64(6)
memory usage: 2.3 MB

In [3]:
df

,Time,Ventilation,Sokets plug,Lighting,Other electricity,Cooling,Heating
0,2017-01-03 13:00:00,27.4,41.8,53.7,89.6,18.60,498.0
1,2017-01-03 14:00:00,21.6,37.5,50.9,64.6,61.90,500.0
2,2017-01-03 15:00:00,18.5,37.4,60.1,64.2,16.50,480.0
3,2017-01-03 16:00:00,29.7,38.0,52.6,43.2,19.80,390.0
4,2017-01-03 17:00:00,16.7,38.1,56.7,42.4,15.20,373.0
...,...,...,...,...,...,...,...
43819,2022-01-03 08:00:00,59.3,17.9,16.6,115.0,12.70,344.0
43820,2022-01-03 09:00:00,71.9,20.6,33.1,149.0,11.90,399.0
43821,2022-01-03 10:00:00,90.5,30.9,47.8,157.0,12.90,397.0
43822,2022-01-03 11:00:00,94.0,33.9,52.2,155.0,15.40,345.0
43823,2022-01-03 12:00:00,95.3,28.5,36.3,107.0,7.88,272.0

In [4]:
Total = df["Ventilation"] + df["Sokets plug"] + df["Lighting"] + df["Other electricity"] + df["Cooling"] + df["Heating"]
# https://www.kite.com/python/answers/how-to-sum-two-columns-in-a-pandas-dataframe-in-python

df["Total"] = Total
df

,Time,Ventilation,Sokets plug,Lighting,Other electricity,Cooling,Heating,Total
0,2017-01-03 13:00:00,27.4,41.8,53.7,89.6,18.60,498.0,729.10
1,2017-01-03 14:00:00,21.6,37.5,50.9,64.6,61.90,500.0,736.50
2,2017-01-03 15:00:00,18.5,37.4,60.1,64.2,16.50,480.0,676.70
3,2017-01-03 16:00:00,29.7,38.0,52.6,43.2,19.80,390.0,573.30
4,2017-01-03 17:00:00,16.7,38.1,56.7,42.4,15.20,373.0,542.10
...,...,...,...,...,...,...,...,...
43819,2022-01-03 08:00:00,59.3,17.9,16.6,115.0,12.70,344.0,565.50
43820,2022-01-03 09:00:00,71.9,20.6,33.1,149.0,11.90,399.0,685.50
43821,2022-01-03 10:00:00,90.5,30.9,47.8,157.0,12.90,397.0,736.10
43822,2022-01-03 11:00:00,94.0,33.9,52.2,155.0,15.40,345.0,695.50
43823,2022-01-03 12:00:00,95.3,28.5,36.3,107.0,7.88,272.0,546.98

In [5]:
df['Year'] = df['Time'].dt.year
df['Month']=df['Time'].dt.month
df['Quarter_of_year']=df['Time'].dt.quarter
df['Day_of_week']=df['Time'].dt.day_of_week
df['Week_of_year']=df['Time'].dt.week
df['Day']=df['Time'].dt.day
df['Hour']=df['Time'].dt.hour

df.drop('Time', inplace=True, axis=1)
df

,Ventilation,Sokets plug,Lighting,Other electricity,Cooling,Heating,Total,Year,Month,Quarter_of_year,Day_of_week,Week_of_year,Day,Hour
0,27.4,41.8,53.7,89.6,18.60,498.0,729.10,2017,1,1,1,1,3,13
1,21.6,37.5,50.9,64.6,61.90,500.0,736.50,2017,1,1,1,1,3,14
2,18.5,37.4,60.1,64.2,16.50,480.0,676.70,2017,1,1,1,1,3,15
3,29.7,38.0,52.6,43.2,19.80,390.0,573.30,2017,1,1,1,1,3,16
4,16.7,38.1,56.7,42.4,15.20,373.0,542.10,2017,1,1,1,1,3,17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43819,59.3,17.9,16.6,115.0,12.70,344.0,565.50,2022,1,1,0,1,3,8
43820,71.9,20.6,33.1,149.0,11.90,399.0,685.50,2022,1,1,0,1,3,9
43821,90.5,30.9,47.8,157.0,12.90,397.0,736.10,2022,1,1,0,1,3,10
43822,94.0,33.9,52.2,155.0,15.40,345.0,695.50,2022,1,1,0,1,3,11
43823,95.3,28.5,36.3,107.0,7.88,272.0,546.98,2022,1,1,0,1,3,12

In [6]:
# df.iloc[df['Ventilation'].idxmax()]

In [7]:
df_train = df.loc[(df['Year'].isin([2017,2018]))&(df['Day_of_week'].isin([0,1,2,3,4]))&(df['Hour'].isin([20,21,22,23,0,1,2,3,4,5,6,7,8]))]
df_test = df.loc[(df['Year'].isin([2019]))&(df['Day_of_week'].isin([0,1,2,3,4]))&(df['Hour'].isin([20,21,22,23,0,1,2,3,4,5,6,7,8]))]

df_train

,Ventilation,Sokets plug,Lighting,Other electricity,Cooling,Heating,Total,Year,Month,Quarter_of_year,Day_of_week,Week_of_year,Day,Hour
7,13.60,20.40,39.50,70.60,19.90,356.00,520.00,2017,1,1,1,1,3,20
8,11.00,16.50,22.50,84.50,16.50,290.00,441.00,2017,1,1,1,1,3,21
9,8.06,13.90,11.70,18.80,92.10,202.00,346.56,2017,1,1,1,1,3,22
10,4.31,11.10,4.69,89.10,28.00,184.00,321.20,2017,1,1,1,1,3,23
11,10.40,9.09,5.97,78.30,28.20,201.00,332.96,2017,1,1,2,1,4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17443,15.70,10.10,4.19,1.00,5.56,6.38,42.93,2018,12,4,0,1,31,8
17455,0.00,10.90,9.38,10.50,8.75,234.00,273.53,2018,12,4,0,1,31,20
17456,0.00,12.00,8.06,7.50,10.40,233.00,270.96,2018,12,4,0,1,31,21
17457,0.00,10.30,6.75,9.63,10.90,234.00,271.58,2018,12,4,0,1,31,22
17458,0.00,10.90,3.19,11.30,9.63,217.00,252.02,2018,12,4,0,1,31,23

In [8]:
df_test

,Ventilation,Sokets plug,Lighting,Other electricity,Cooling,Heating,Total,Year,Month,Quarter_of_year,Day_of_week,Week_of_year,Day,Hour
17459,0.00,9.44,1.000,13.00,8.84,250.0,282.280,2019,1,1,1,1,1,0
17460,0.00,11.30,2.310,8.34,9.78,217.0,248.730,2019,1,1,1,1,1,1
17461,0.00,10.30,1.690,11.60,8.75,234.0,266.340,2019,1,1,1,1,1,2
17462,4.50,10.50,0.375,7.56,9.06,233.0,264.995,2019,1,1,1,1,1,3
17463,4.44,9.31,0.625,8.88,8.75,267.0,299.005,2019,1,1,1,1,1,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26203,15.30,11.00,8.310,451.00,0.00,255.0,740.610,2019,12,4,1,1,31,8
26215,9.50,11.90,13.400,461.00,0.00,206.0,701.800,2019,12,4,1,1,31,20
26216,8.25,10.10,10.100,458.00,0.00,205.0,691.450,2019,12,4,1,1,31,21
26217,10.50,10.40,10.600,457.00,0.00,222.0,710.500,2019,12,4,1,1,31,22
26218,10.00,10.00,7.000,455.00,0.00,205.0,687.000,2019,12,4,1,1,31,23

In [9]:
X_train1 = df_train[['Total','Year', 'Month', 'Day', 'Hour']].values
y_train1 = df_train[['Ventilation','Sokets plug', 'Lighting', 'Other electricity', 'Cooling', 'Heating']].values
X_test1 = df_test[['Total','Year', 'Month', 'Day', 'Hour']].values
y_test1 = df_test[['Ventilation','Sokets plug', 'Lighting', 'Other electricity', 'Cooling', 'Heating']].values
print(X_train1.shape, y_train1.shape, X_test1.shape, y_test1.shape)

(6751, 5) (6751, 6) (3393, 5) (3393, 6)

In [10]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train1 = sc.fit_transform(X_train1)
X_test1 = sc.fit_transform(X_test1)

In [11]:
from sklearn.multioutput import MultiOutputRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score


vent = np.array([[0,0,0]])
soc = np.array([[0,0,0]])
light = np.array([[0,0,0]])
other = np.array([[0,0,0]])
cool = np.array([[0,0,0]])
heat = np.array([[0,0,0]])

# i = 10
# j = 5
for i in range(1,100):
    for j in range(60,70):
        model = RandomForestRegressor(max_depth=i, n_estimators=j)
        model.fit(X_train1, y_train1)

        pred = model.predict(X_test1)

        ###############################   Ventilation. #################################################
        vent_pred = pred[:,[0,]]
        vent_pred = np.asarray(vent_pred).reshape(-1)
        vent_test = y_test1[:,[0,]]
        vent_test = np.asarray(vent_test).reshape(-1)

        r2 = r2_score(vent_test,vent_pred) 
        res = [[r2, i, j]]

        vent = np.append(vent, res,axis = 0) 

        ################################## Socket Plugs ##############################################


        plug_pred = pred[:,[1,]]
        plug_pred = np.asarray(plug_pred).reshape(-1)

        plug_test = y_test1[:,[1,]]
        plug_test = np.asarray(plug_test).reshape(-1)

        r2 = r2_score(plug_test,plug_pred) 
        res = [[r2, i, j]]

        soc = np.append(soc, res,axis = 0) 

        ################################### Lighting #############################################

        light_pred = pred[:,[2,]]
        light_pred = np.asarray(light_pred).reshape(-1)

        light_test = y_test1[:,[2,]]
        light_test = np.asarray(light_test).reshape(-1)


        r2 = r2_score(light_test,light_pred) 
        res = [[r2, i, j]]

        light = np.append(light, res,axis = 0) 

        ##################################  Other Electricity. ##############################################


        other_pred = pred[:,[3,]]
        other_pred = np.asarray(other_pred).reshape(-1)

        other_test = y_test1[:,[3,]]
        other_test = np.asarray(other_test).reshape(-1)

        r2 = r2_score(other_test,other_pred) 
        res = [[r2, i, j]]

        other = np.append(other, res,axis = 0) 

        ###############################   Cooling. #################################################


        cool_pred = pred[:,[4,]]
        cool_pred = np.asarray(cool_pred).reshape(-1)

        cool_test = y_test1[:,[4,]]
        cool_test = np.asarray(cool_test).reshape(-1)

        r2 = r2_score(cool_test,cool_pred) 
        res = [[r2, i, j]]

        cool = np.append(cool, res,axis = 0) 

        ################################## Heating ##############################################


        heat_pred = pred[:,[5,]]
        heat_pred = np.asarray(heat_pred).reshape(-1)

        heat_test = y_test1[:,[5,]]
        heat_test = np.asarray(heat_test).reshape(-1)    

        r2 = r2_score(heat_test,heat_pred) 
        res = [[r2, i, j]]

        heat = np.append(heat, res,axis = 0) 


        # [r2 score, max depth, n_estimator]

In [12]:
column_values = ['score', 'i', 'j']

In [13]:
pd.DataFrame(data = vent, columns = column_values).to_csv("vent.csv")
vent_data = pd.read_csv('vent.csv')
vent_data

     Unnamed: 0     score     i     j
0             0  0.000000   0.0   0.0
1             1 -0.041207   1.0  60.0
2             2 -0.047656   1.0  61.0
3             3 -0.044648   1.0  62.0
4             4 -0.051800   1.0  63.0
..          ...       ...   ...   ...
986         986 -0.543768  99.0  65.0
987         987 -0.551314  99.0  66.0
988         988 -0.622773  99.0  67.0
989         989 -0.609684  99.0  68.0
990         990 -0.527373  99.0  69.0

[991 rows x 4 columns]

In [14]:
vent_data.iloc[vent_data['score'].idxmax()]

Unnamed: 0    59.000000
score          0.013083
i              6.000000
j             68.000000
Name: 59, dtype: float64

In [15]:
pd.DataFrame(data = soc, columns = column_values).to_csv("soc.csv")
soc_data = pd.read_csv('soc.csv')
soc_data

     Unnamed: 0     score     i     j
0             0  0.000000   0.0   0.0
1             1 -0.043657   1.0  60.0
2             2 -0.045538   1.0  61.0
3             3 -0.044294   1.0  62.0
4             4 -0.047559   1.0  63.0
..          ...       ...   ...   ...
986         986 -0.059203  99.0  65.0
987         987 -0.053622  99.0  66.0
988         988 -0.040071  99.0  67.0
989         989 -0.049651  99.0  68.0
990         990 -0.059501  99.0  69.0

[991 rows x 4 columns]

In [16]:
soc_data.iloc[soc_data['score'].idxmax()]

Unnamed: 0    0.0
score         0.0
i             0.0
j             0.0
Name: 0, dtype: float64

In [17]:
pd.DataFrame(data = light, columns = column_values).to_csv("light.csv")
light_data = pd.read_csv('light.csv')
light_data

     Unnamed: 0     score     i     j
0             0  0.000000   0.0   0.0
1             1 -0.000314   1.0  60.0
2             2 -0.003406   1.0  61.0
3             3 -0.001158   1.0  62.0
4             4 -0.004603   1.0  63.0
..          ...       ...   ...   ...
986         986  0.389992  99.0  65.0
987         987  0.418365  99.0  66.0
988         988  0.396080  99.0  67.0
989         989  0.368182  99.0  68.0
990         990  0.349887  99.0  69.0

[991 rows x 4 columns]

In [18]:
light_data.iloc[light_data['score'].idxmax()]

Unnamed: 0    172.000000
score           0.448138
i              18.000000
j              61.000000
Name: 172, dtype: float64

In [19]:
pd.DataFrame(data = other, columns = column_values).to_csv("other.csv")
other_data = pd.read_csv('other.csv')
other_data

## with data normalized the r2 score of other electricity comes positive

     Unnamed: 0     score     i     j
0             0  0.000000   0.0   0.0
1             1  0.041764   1.0  60.0
2             2  0.046398   1.0  61.0
3             3  0.042203   1.0  62.0
4             4  0.045251   1.0  63.0
..          ...       ...   ...   ...
986         986 -0.236268  99.0  65.0
987         987 -0.223020  99.0  66.0
988         988 -0.225704  99.0  67.0
989         989 -0.232150  99.0  68.0
990         990 -0.220844  99.0  69.0

[991 rows x 4 columns]

In [20]:
other_data.iloc[other_data['score'].idxmax()]

Unnamed: 0     2.000000
score          0.046398
i              1.000000
j             61.000000
Name: 2, dtype: float64

In [21]:
pd.DataFrame(data = cool, columns = column_values).to_csv("cool.csv")
cool_data = pd.read_csv('cool.csv')
cool_data

     Unnamed: 0     score     i     j
0             0  0.000000   0.0   0.0
1             1 -0.007797   1.0  60.0
2             2 -0.008195   1.0  61.0
3             3 -0.007893   1.0  62.0
4             4 -0.009366   1.0  63.0
..          ...       ...   ...   ...
986         986  0.578967  99.0  65.0
987         987  0.575725  99.0  66.0
988         988  0.582711  99.0  67.0
989         989  0.563066  99.0  68.0
990         990  0.570897  99.0  69.0

[991 rows x 4 columns]

In [22]:
cool_data.iloc[cool_data['score'].idxmax()]

Unnamed: 0    561.000000
score           0.607461
i              57.000000
j              60.000000
Name: 561, dtype: float64

In [23]:
pd.DataFrame(data = heat, columns = column_values).to_csv("heat.csv")
heat_data = pd.read_csv('heat.csv')
heat_data

     Unnamed: 0     score     i     j
0             0  0.000000   0.0   0.0
1             1 -0.152928   1.0  60.0
2             2 -0.174032   1.0  61.0
3             3 -0.166621   1.0  62.0
4             4 -0.204460   1.0  63.0
..          ...       ...   ...   ...
986         986 -0.180771  99.0  65.0
987         987 -0.185523  99.0  66.0
988         988 -0.155188  99.0  67.0
989         989 -0.147882  99.0  68.0
990         990 -0.183822  99.0  69.0

[991 rows x 4 columns]

In [24]:
heat_data.iloc[heat_data['score'].idxmax()]

Unnamed: 0    23.000000
score          0.175825
i              3.000000
j             62.000000
Name: 23, dtype: float64