In [25]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
from IPython.display import display
import datetime
import time
import math
import warnings
warnings.filterwarnings("ignore")
import glob

import matplotlib as mpl
mpl.rcParams['figure.figsize'] = (25,10)
mpl.rcParams['axes.grid'] = False

In [26]:
df = pd.read_csv('https://raw.githubusercontent.com/Mohammad-Kaosain-Akbar/NILM-two-years-dataset/main/Data_Greener_all.csv')
df['Time']= pd.to_datetime(df['Time'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43824 entries, 0 to 43823
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Time               43824 non-null  datetime64[ns]
 1   Ventilation        43824 non-null  float64
 2   Sokets plug        43824 non-null  float64
 3   Lighting           43824 non-null  float64
 4   Other electricity  43824 non-null  float64
 5   Cooling            43824 non-null  float64
 6   Heating            43824 non-null  float64
dtypes: datetime64[ns](1), float64(6)
memory usage: 2.3 MB

In [27]:
df

,Time,Ventilation,Sokets plug,Lighting,Other electricity,Cooling,Heating
0,2017-01-03 13:00:00,27.4,41.8,53.7,89.6,18.60,498.0
1,2017-01-03 14:00:00,21.6,37.5,50.9,64.6,61.90,500.0
2,2017-01-03 15:00:00,18.5,37.4,60.1,64.2,16.50,480.0
3,2017-01-03 16:00:00,29.7,38.0,52.6,43.2,19.80,390.0
4,2017-01-03 17:00:00,16.7,38.1,56.7,42.4,15.20,373.0
...,...,...,...,...,...,...,...
43819,2022-01-03 08:00:00,59.3,17.9,16.6,115.0,12.70,344.0
43820,2022-01-03 09:00:00,71.9,20.6,33.1,149.0,11.90,399.0
43821,2022-01-03 10:00:00,90.5,30.9,47.8,157.0,12.90,397.0
43822,2022-01-03 11:00:00,94.0,33.9,52.2,155.0,15.40,345.0
43823,2022-01-03 12:00:00,95.3,28.5,36.3,107.0,7.88,272.0

In [28]:
Total = df["Ventilation"] + df["Sokets plug"] + df["Lighting"] + df["Other electricity"] + df["Cooling"] + df["Heating"]
# https://www.kite.com/python/answers/how-to-sum-two-columns-in-a-pandas-dataframe-in-python

df["Total"] = Total
df

,Time,Ventilation,Sokets plug,Lighting,Other electricity,Cooling,Heating,Total
0,2017-01-03 13:00:00,27.4,41.8,53.7,89.6,18.60,498.0,729.10
1,2017-01-03 14:00:00,21.6,37.5,50.9,64.6,61.90,500.0,736.50
2,2017-01-03 15:00:00,18.5,37.4,60.1,64.2,16.50,480.0,676.70
3,2017-01-03 16:00:00,29.7,38.0,52.6,43.2,19.80,390.0,573.30
4,2017-01-03 17:00:00,16.7,38.1,56.7,42.4,15.20,373.0,542.10
...,...,...,...,...,...,...,...,...
43819,2022-01-03 08:00:00,59.3,17.9,16.6,115.0,12.70,344.0,565.50
43820,2022-01-03 09:00:00,71.9,20.6,33.1,149.0,11.90,399.0,685.50
43821,2022-01-03 10:00:00,90.5,30.9,47.8,157.0,12.90,397.0,736.10
43822,2022-01-03 11:00:00,94.0,33.9,52.2,155.0,15.40,345.0,695.50
43823,2022-01-03 12:00:00,95.3,28.5,36.3,107.0,7.88,272.0,546.98

In [29]:
df['Year'] = df['Time'].dt.year
df['Month']=df['Time'].dt.month
df['Quarter_of_year']=df['Time'].dt.quarter
df['Day_of_week']=df['Time'].dt.day_of_week
df['Week_of_year']=df['Time'].dt.week
df['Day']=df['Time'].dt.day
df['Hour']=df['Time'].dt.hour

df.drop('Time', inplace=True, axis=1)
df

,Ventilation,Sokets plug,Lighting,Other electricity,Cooling,Heating,Total,Year,Month,Quarter_of_year,Day_of_week,Week_of_year,Day,Hour
0,27.4,41.8,53.7,89.6,18.60,498.0,729.10,2017,1,1,1,1,3,13
1,21.6,37.5,50.9,64.6,61.90,500.0,736.50,2017,1,1,1,1,3,14
2,18.5,37.4,60.1,64.2,16.50,480.0,676.70,2017,1,1,1,1,3,15
3,29.7,38.0,52.6,43.2,19.80,390.0,573.30,2017,1,1,1,1,3,16
4,16.7,38.1,56.7,42.4,15.20,373.0,542.10,2017,1,1,1,1,3,17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43819,59.3,17.9,16.6,115.0,12.70,344.0,565.50,2022,1,1,0,1,3,8
43820,71.9,20.6,33.1,149.0,11.90,399.0,685.50,2022,1,1,0,1,3,9
43821,90.5,30.9,47.8,157.0,12.90,397.0,736.10,2022,1,1,0,1,3,10
43822,94.0,33.9,52.2,155.0,15.40,345.0,695.50,2022,1,1,0,1,3,11
43823,95.3,28.5,36.3,107.0,7.88,272.0,546.98,2022,1,1,0,1,3,12

In [30]:
# df.iloc[df['Ventilation'].idxmax()]

In [31]:
df_train = df.loc[(df['Year'].isin([2017,2018]))&(df['Month'].isin([6,7,8]))]
df_test = df.loc[(df['Year'].isin([2019]))&(df['Month'].isin([6,7,8]))]

df_train

,Ventilation,Sokets plug,Lighting,Other electricity,Cooling,Heating,Total,Year,Month,Quarter_of_year,Day_of_week,Week_of_year,Day,Hour
3562,25.90,12.9,7.13,54.00,76.9,1.63,178.46,2017,6,2,3,22,1,0
3563,22.30,12.3,4.19,44.00,89.0,2.88,174.67,2017,6,2,3,22,1,1
3564,21.90,14.7,2.53,75.30,57.5,3.00,174.93,2017,6,2,3,22,1,2
3565,18.80,11.0,3.63,87.30,52.6,3.13,176.46,2017,6,2,3,22,1,3
3566,24.60,11.8,5.22,4.70,126.0,2.75,175.07,2017,6,2,3,22,1,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14525,49.30,21.4,19.60,0.00,163.0,7.13,260.43,2018,8,3,4,35,31,19
14526,38.40,25.1,16.60,5.16,152.0,6.75,244.01,2018,8,3,4,35,31,20
14527,37.10,18.1,10.80,23.50,142.0,7.25,238.75,2018,8,3,4,35,31,21
14528,25.10,15.0,7.63,33.30,116.0,7.38,204.41,2018,8,3,4,35,31,22
14529,7.75,13.3,5.25,40.90,91.3,6.88,165.38,2018,8,3,4,35,31,23

In [32]:
df_test

,Ventilation,Sokets plug,Lighting,Other electricity,Cooling,Heating,Total,Year,Month,Quarter_of_year,Day_of_week,Week_of_year,Day,Hour
21082,6.38,12.5,10.40,103.00,20.3,10.50,163.08,2019,6,2,5,22,1,0
21083,7.75,11.4,6.38,104.00,24.1,11.00,164.63,2019,6,2,5,22,1,1
21084,7.25,14.6,5.13,101.00,19.6,11.00,158.58,2019,6,2,5,22,1,2
21085,6.88,11.4,4.69,101.00,21.2,10.80,155.97,2019,6,2,5,22,1,3
21086,7.88,13.6,5.69,85.20,39.2,10.50,162.07,2019,6,2,5,22,1,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23285,6.13,12.6,2.56,7.13,142.0,4.25,174.67,2019,8,3,5,35,31,19
23286,5.88,13.6,1.44,63.60,91.1,4.75,180.37,2019,8,3,5,35,31,20
23287,5.75,10.7,1.69,41.00,111.0,4.25,174.39,2019,8,3,5,35,31,21
23288,5.50,13.7,1.63,69.60,82.6,4.50,177.53,2019,8,3,5,35,31,22
23289,6.50,11.2,2.25,70.70,79.3,4.25,174.20,2019,8,3,5,35,31,23

In [33]:
X_train1 = df_train[['Total','Year', 'Month', 'Day', 'Hour']].values
y_train1 = df_train[['Ventilation','Sokets plug', 'Lighting', 'Other electricity', 'Cooling', 'Heating']].values
X_test1 = df_test[['Total','Year', 'Month', 'Day', 'Hour']].values
y_test1 = df_test[['Ventilation','Sokets plug', 'Lighting', 'Other electricity', 'Cooling', 'Heating']].values
print(X_train1.shape, y_train1.shape, X_test1.shape, y_test1.shape)

(4416, 5) (4416, 6) (2208, 5) (2208, 6)

In [34]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train1 = sc.fit_transform(X_train1)
X_test1 = sc.fit_transform(X_test1)

In [35]:
from sklearn.multioutput import MultiOutputRegressor
from lightgbm import LGBMRegressor
from sklearn.metrics import r2_score


vent = np.array([[0,0,0]])
soc = np.array([[0,0,0]])
light = np.array([[0,0,0]])
other = np.array([[0,0,0]])
cool = np.array([[0,0,0]])
heat = np.array([[0,0,0]])


for i in range(1,10):
    for j in range(11,22):
       model = MultiOutputRegressor(LGBMRegressor(boosting_type='gbdt', num_leaves=i+29, n_estimators=j+99))
       model.fit(X_train1, y_train1)
       
       pred = model.predict(X_test1)
    
    ###############################   Ventilation. #################################################
       vent_pred = pred[:,[0,]]
       vent_pred = np.asarray(vent_pred).reshape(-1)
       vent_test = y_test1[:,[0,]]
       vent_test = np.asarray(vent_test).reshape(-1)
    
       r2 = r2_score(vent_test,vent_pred) 
       res = [[r2, i, j]]
    
       vent = np.append(vent, res,axis = 0) 
       
    ################################## Socket Plugs ##############################################
    

       plug_pred = pred[:,[1,]]
       plug_pred = np.asarray(plug_pred).reshape(-1)

       plug_test = y_test1[:,[1,]]
       plug_test = np.asarray(plug_test).reshape(-1)
    
       r2 = r2_score(plug_test,plug_pred) 
       res = [[r2, i, j]]
    
       soc = np.append(soc, res,axis = 0) 
       
    ################################### Lighting #############################################
    
       light_pred = pred[:,[2,]]
       light_pred = np.asarray(light_pred).reshape(-1)

       light_test = y_test1[:,[2,]]
       light_test = np.asarray(light_test).reshape(-1)

    
       r2 = r2_score(light_test,light_pred) 
       res = [[r2, i, j]]
    
       light = np.append(light, res,axis = 0) 
       
    ##################################  Other Electricity. ##############################################
    

       other_pred = pred[:,[3,]]
       other_pred = np.asarray(other_pred).reshape(-1)

       other_test = y_test1[:,[3,]]
       other_test = np.asarray(other_test).reshape(-1)

       r2 = r2_score(other_test,other_pred) 
       res = [[r2, i, j]]
    
       other = np.append(other, res,axis = 0) 
       
    ###############################   Cooling. #################################################
    
    
       cool_pred = pred[:,[4,]]
       cool_pred = np.asarray(cool_pred).reshape(-1)

       cool_test = y_test1[:,[4,]]
       cool_test = np.asarray(cool_test).reshape(-1)

       r2 = r2_score(cool_test,cool_pred) 
       res = [[r2, i, j]]
    
       cool = np.append(cool, res,axis = 0) 
       
    ################################## Heating ##############################################
    

       heat_pred = pred[:,[5,]]
       heat_pred = np.asarray(heat_pred).reshape(-1)

       heat_test = y_test1[:,[5,]]
       heat_test = np.asarray(heat_test).reshape(-1)    
       
       r2 = r2_score(heat_test,heat_pred) 
       res = [[r2, i, j]]
    
       heat = np.append(heat, res,axis = 0) 
 
        
        # [r2 score, max depth, n_estimator]

In [36]:
column_values = ['score', 'i', 'j']

In [37]:
pd.DataFrame(data = vent, columns = column_values).to_csv("vent.csv")
vent_data = pd.read_csv('vent.csv')
vent_data

    Unnamed: 0     score    i     j
0            0  0.000000  0.0   0.0
1            1  0.319217  1.0  11.0
2            2  0.318632  1.0  12.0
3            3  0.318468  1.0  13.0
4            4  0.318087  1.0  14.0
..         ...       ...  ...   ...
95          95  0.311066  9.0  17.0
96          96  0.310971  9.0  18.0
97          97  0.311117  9.0  19.0
98          98  0.311117  9.0  20.0
99          99  0.311031  9.0  21.0

[100 rows x 4 columns]

In [38]:
vent_data.iloc[vent_data['score'].idxmax()]

Unnamed: 0     1.000000
score          0.319217
i              1.000000
j             11.000000
Name: 1, dtype: float64

In [39]:
pd.DataFrame(data = soc, columns = column_values).to_csv("soc.csv")
soc_data = pd.read_csv('soc.csv')
soc_data

    Unnamed: 0     score    i     j
0            0  0.000000  0.0   0.0
1            1 -0.038490  1.0  11.0
2            2 -0.038561  1.0  12.0
3            3 -0.038573  1.0  13.0
4            4 -0.038528  1.0  14.0
..         ...       ...  ...   ...
95          95 -0.040239  9.0  17.0
96          96 -0.040228  9.0  18.0
97          97 -0.040272  9.0  19.0
98          98 -0.040389  9.0  20.0
99          99 -0.040501  9.0  21.0

[100 rows x 4 columns]

In [40]:
soc_data.iloc[soc_data['score'].idxmax()]

Unnamed: 0    0.0
score         0.0
i             0.0
j             0.0
Name: 0, dtype: float64

In [41]:
pd.DataFrame(data = light, columns = column_values).to_csv("light.csv")
light_data = pd.read_csv('light.csv')
light_data

    Unnamed: 0     score    i     j
0            0  0.000000  0.0   0.0
1            1  0.720317  1.0  11.0
2            2  0.721326  1.0  12.0
3            3  0.720325  1.0  13.0
4            4  0.720233  1.0  14.0
..         ...       ...  ...   ...
95          95  0.714018  9.0  17.0
96          96  0.713694  9.0  18.0
97          97  0.714069  9.0  19.0
98          98  0.713730  9.0  20.0
99          99  0.714027  9.0  21.0

[100 rows x 4 columns]

In [42]:
light_data.iloc[light_data['score'].idxmax()]

Unnamed: 0    12.000000
score          0.723167
i              2.000000
j             11.000000
Name: 12, dtype: float64

In [43]:
pd.DataFrame(data = other, columns = column_values).to_csv("other.csv")
other_data = pd.read_csv('other.csv')
other_data

## with data normalized the r2 score of other electricity comes positive

    Unnamed: 0     score    i     j
0            0  0.000000  0.0   0.0
1            1  0.144243  1.0  11.0
2            2  0.144236  1.0  12.0
3            3  0.143723  1.0  13.0
4            4  0.143526  1.0  14.0
..         ...       ...  ...   ...
95          95  0.149978  9.0  17.0
96          96  0.149600  9.0  18.0
97          97  0.149580  9.0  19.0
98          98  0.149591  9.0  20.0
99          99  0.149689  9.0  21.0

[100 rows x 4 columns]

In [44]:
other_data.iloc[other_data['score'].idxmax()]

Unnamed: 0    67.000000
score          0.163899
i              7.000000
j             11.000000
Name: 67, dtype: float64

In [45]:
pd.DataFrame(data = cool, columns = column_values).to_csv("cool.csv")
cool_data = pd.read_csv('cool.csv')
cool_data

    Unnamed: 0     score    i     j
0            0  0.000000  0.0   0.0
1            1  0.770448  1.0  11.0
2            2  0.770402  1.0  12.0
3            3  0.770520  1.0  13.0
4            4  0.770639  1.0  14.0
..         ...       ...  ...   ...
95          95  0.767866  9.0  17.0
96          96  0.767839  9.0  18.0
97          97  0.768050  9.0  19.0
98          98  0.768101  9.0  20.0
99          99  0.768047  9.0  21.0

[100 rows x 4 columns]

In [46]:
cool_data.iloc[cool_data['score'].idxmax()]

Unnamed: 0    10.000000
score          0.771251
i              1.000000
j             20.000000
Name: 10, dtype: float64

#####

In [47]:
pd.DataFrame(data = heat, columns = column_values).to_csv("heat.csv")
heat_data = pd.read_csv('heat.csv')
heat_data

    Unnamed: 0     score    i     j
0            0  0.000000  0.0   0.0
1            1 -0.176994  1.0  11.0
2            2 -0.177549  1.0  12.0
3            3 -0.186071  1.0  13.0
4            4 -0.184823  1.0  14.0
..         ...       ...  ...   ...
95          95 -0.205860  9.0  17.0
96          96 -0.209504  9.0  18.0
97          97 -0.211563  9.0  19.0
98          98 -0.214793  9.0  20.0
99          99 -0.222611  9.0  21.0

[100 rows x 4 columns]

In [48]:
heat_data.iloc[heat_data['score'].idxmax()]

Unnamed: 0    0.0
score         0.0
i             0.0
j             0.0
Name: 0, dtype: float64