In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
from IPython.display import display
import datetime
import time
import math
import warnings
warnings.filterwarnings("ignore")
import glob

import matplotlib as mpl
mpl.rcParams['figure.figsize'] = (25,10)
mpl.rcParams['axes.grid'] = False

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/Mohammad-Kaosain-Akbar/NILM-two-years-dataset/main/Data_Greener_all.csv')
df['Time']= pd.to_datetime(df['Time'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43824 entries, 0 to 43823
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Time               43824 non-null  datetime64[ns]
 1   Ventilation        43824 non-null  float64
 2   Sokets plug        43824 non-null  float64
 3   Lighting           43824 non-null  float64
 4   Other electricity  43824 non-null  float64
 5   Cooling            43824 non-null  float64
 6   Heating            43824 non-null  float64
dtypes: datetime64[ns](1), float64(6)
memory usage: 2.3 MB

In [ ]:
df

,Time,Ventilation,Sokets plug,Lighting,Other electricity,Cooling,Heating
0,2017-01-03 13:00:00,27.4,41.8,53.7,89.6,18.60,498.0
1,2017-01-03 14:00:00,21.6,37.5,50.9,64.6,61.90,500.0
2,2017-01-03 15:00:00,18.5,37.4,60.1,64.2,16.50,480.0
3,2017-01-03 16:00:00,29.7,38.0,52.6,43.2,19.80,390.0
4,2017-01-03 17:00:00,16.7,38.1,56.7,42.4,15.20,373.0
...,...,...,...,...,...,...,...
43819,2022-01-03 08:00:00,59.3,17.9,16.6,115.0,12.70,344.0
43820,2022-01-03 09:00:00,71.9,20.6,33.1,149.0,11.90,399.0
43821,2022-01-03 10:00:00,90.5,30.9,47.8,157.0,12.90,397.0
43822,2022-01-03 11:00:00,94.0,33.9,52.2,155.0,15.40,345.0
43823,2022-01-03 12:00:00,95.3,28.5,36.3,107.0,7.88,272.0

In [ ]:
Total = df["Ventilation"] + df["Sokets plug"] + df["Lighting"] + df["Other electricity"] + df["Cooling"] + df["Heating"]
# https://www.kite.com/python/answers/how-to-sum-two-columns-in-a-pandas-dataframe-in-python

df["Total"] = Total
df

,Time,Ventilation,Sokets plug,Lighting,Other electricity,Cooling,Heating,Total
0,2017-01-03 13:00:00,27.4,41.8,53.7,89.6,18.60,498.0,729.10
1,2017-01-03 14:00:00,21.6,37.5,50.9,64.6,61.90,500.0,736.50
2,2017-01-03 15:00:00,18.5,37.4,60.1,64.2,16.50,480.0,676.70
3,2017-01-03 16:00:00,29.7,38.0,52.6,43.2,19.80,390.0,573.30
4,2017-01-03 17:00:00,16.7,38.1,56.7,42.4,15.20,373.0,542.10
...,...,...,...,...,...,...,...,...
43819,2022-01-03 08:00:00,59.3,17.9,16.6,115.0,12.70,344.0,565.50
43820,2022-01-03 09:00:00,71.9,20.6,33.1,149.0,11.90,399.0,685.50
43821,2022-01-03 10:00:00,90.5,30.9,47.8,157.0,12.90,397.0,736.10
43822,2022-01-03 11:00:00,94.0,33.9,52.2,155.0,15.40,345.0,695.50
43823,2022-01-03 12:00:00,95.3,28.5,36.3,107.0,7.88,272.0,546.98

In [ ]:
df['Year'] = df['Time'].dt.year
df['Month']=df['Time'].dt.month
df['Quarter_of_year']=df['Time'].dt.quarter
df['Day_of_week']=df['Time'].dt.day_of_week
df['Week_of_year']=df['Time'].dt.week
df['Day']=df['Time'].dt.day
df['Hour']=df['Time'].dt.hour

df.drop('Time', inplace=True, axis=1)
df

,Ventilation,Sokets plug,Lighting,Other electricity,Cooling,Heating,Total,Year,Month,Quarter_of_year,Day_of_week,Week_of_year,Day,Hour
0,27.4,41.8,53.7,89.6,18.60,498.0,729.10,2017,1,1,1,1,3,13
1,21.6,37.5,50.9,64.6,61.90,500.0,736.50,2017,1,1,1,1,3,14
2,18.5,37.4,60.1,64.2,16.50,480.0,676.70,2017,1,1,1,1,3,15
3,29.7,38.0,52.6,43.2,19.80,390.0,573.30,2017,1,1,1,1,3,16
4,16.7,38.1,56.7,42.4,15.20,373.0,542.10,2017,1,1,1,1,3,17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43819,59.3,17.9,16.6,115.0,12.70,344.0,565.50,2022,1,1,0,1,3,8
43820,71.9,20.6,33.1,149.0,11.90,399.0,685.50,2022,1,1,0,1,3,9
43821,90.5,30.9,47.8,157.0,12.90,397.0,736.10,2022,1,1,0,1,3,10
43822,94.0,33.9,52.2,155.0,15.40,345.0,695.50,2022,1,1,0,1,3,11
43823,95.3,28.5,36.3,107.0,7.88,272.0,546.98,2022,1,1,0,1,3,12

In [ ]:
# df.iloc[df['Ventilation'].idxmax()]

In [ ]:
df_train = df.loc[(df['Year'].isin([2017,2018]))]
df_test = df.loc[(df['Year'].isin([2019]))]

df_train

,Ventilation,Sokets plug,Lighting,Other electricity,Cooling,Heating,Total,Year,Month,Quarter_of_year,Day_of_week,Week_of_year,Day,Hour
0,27.4,41.8,53.70,89.60,18.60,498.0,729.10,2017,1,1,1,1,3,13
1,21.6,37.5,50.90,64.60,61.90,500.0,736.50,2017,1,1,1,1,3,14
2,18.5,37.4,60.10,64.20,16.50,480.0,676.70,2017,1,1,1,1,3,15
3,29.7,38.0,52.60,43.20,19.80,390.0,573.30,2017,1,1,1,1,3,16
4,16.7,38.1,56.70,42.40,15.20,373.0,542.10,2017,1,1,1,1,3,17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17454,0.0,11.7,7.50,11.60,8.69,250.0,289.49,2018,12,4,0,1,31,19
17455,0.0,10.9,9.38,10.50,8.75,234.0,273.53,2018,12,4,0,1,31,20
17456,0.0,12.0,8.06,7.50,10.40,233.0,270.96,2018,12,4,0,1,31,21
17457,0.0,10.3,6.75,9.63,10.90,234.0,271.58,2018,12,4,0,1,31,22
17458,0.0,10.9,3.19,11.30,9.63,217.0,252.02,2018,12,4,0,1,31,23

In [ ]:
df_test

,Ventilation,Sokets plug,Lighting,Other electricity,Cooling,Heating,Total,Year,Month,Quarter_of_year,Day_of_week,Week_of_year,Day,Hour
17459,0.00,9.44,1.000,13.00,8.84,250.0,282.280,2019,1,1,1,1,1,0
17460,0.00,11.30,2.310,8.34,9.78,217.0,248.730,2019,1,1,1,1,1,1
17461,0.00,10.30,1.690,11.60,8.75,234.0,266.340,2019,1,1,1,1,1,2
17462,4.50,10.50,0.375,7.56,9.06,233.0,264.995,2019,1,1,1,1,1,3
17463,4.44,9.31,0.625,8.88,8.75,267.0,299.005,2019,1,1,1,1,1,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26214,10.30,11.30,13.600,458.00,0.00,222.0,715.200,2019,12,4,1,1,31,19
26215,9.50,11.90,13.400,461.00,0.00,206.0,701.800,2019,12,4,1,1,31,20
26216,8.25,10.10,10.100,458.00,0.00,205.0,691.450,2019,12,4,1,1,31,21
26217,10.50,10.40,10.600,457.00,0.00,222.0,710.500,2019,12,4,1,1,31,22
26218,10.00,10.00,7.000,455.00,0.00,205.0,687.000,2019,12,4,1,1,31,23

In [ ]:
X_train1 = df_train[['Total','Year', 'Month', 'Day', 'Hour']].values
y_train1 = df_train[['Ventilation','Sokets plug', 'Lighting', 'Other electricity', 'Cooling', 'Heating']].values
X_test1 = df_test[['Total','Year', 'Month', 'Day', 'Hour']].values
y_test1 = df_test[['Ventilation','Sokets plug', 'Lighting', 'Other electricity', 'Cooling', 'Heating']].values
print(X_train1.shape, y_train1.shape, X_test1.shape, y_test1.shape)

(17459, 5) (17459, 6) (8760, 5) (8760, 6)

In [ ]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train1 = sc.fit_transform(X_train1)
X_test1 = sc.fit_transform(X_test1)

In [ ]:
from sklearn.multioutput import MultiOutputRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import r2_score


vent = np.array([[0,0,0]])
soc = np.array([[0,0,0]])
light = np.array([[0,0,0]])
other = np.array([[0,0,0]])
cool = np.array([[0,0,0]])
heat = np.array([[0,0,0]])


for i in range(1,50):
     for j in range(1,50):
       
       
       
       model = MultiOutputRegressor(KNeighborsRegressor(algorithm='ball_tree', leaf_size = i, n_neighbors=j))
       model.fit(X_train1, y_train1)
       
       pred = model.predict(X_test1)
    
    ###############################   Ventilation. #################################################
       vent_pred = pred[:,[0,]]
       vent_pred = np.asarray(vent_pred).reshape(-1)
       vent_test = y_test1[:,[0,]]
       vent_test = np.asarray(vent_test).reshape(-1)
    
       r2 = r2_score(vent_test,vent_pred) 
       res = [[r2, i, j]]
    
       vent = np.append(vent, res,axis = 0) 
       
    ################################## Socket Plugs ##############################################
    

       plug_pred = pred[:,[1,]]
       plug_pred = np.asarray(plug_pred).reshape(-1)

       plug_test = y_test1[:,[1,]]
       plug_test = np.asarray(plug_test).reshape(-1)
    
       r2 = r2_score(plug_test,plug_pred) 
       res = [[r2, i, j]]
    
       soc = np.append(soc, res,axis = 0) 
       
    ################################### Lighting #############################################
    
       light_pred = pred[:,[2,]]
       light_pred = np.asarray(light_pred).reshape(-1)

       light_test = y_test1[:,[2,]]
       light_test = np.asarray(light_test).reshape(-1)

    
       r2 = r2_score(light_test,light_pred) 
       res = [[r2, i, j]]
    
       light = np.append(light, res,axis = 0) 
       
    ##################################  Other Electricity. ##############################################
    

       other_pred = pred[:,[3,]]
       other_pred = np.asarray(other_pred).reshape(-1)

       other_test = y_test1[:,[3,]]
       other_test = np.asarray(other_test).reshape(-1)

       r2 = r2_score(other_test,other_pred) 
       res = [[r2, i, j]]
    
       other = np.append(other, res,axis = 0) 
       
    ###############################   Cooling. #################################################
    
    
       cool_pred = pred[:,[4,]]
       cool_pred = np.asarray(cool_pred).reshape(-1)

       cool_test = y_test1[:,[4,]]
       cool_test = np.asarray(cool_test).reshape(-1)

       r2 = r2_score(cool_test,cool_pred) 
       res = [[r2, i, j]]
    
       cool = np.append(cool, res,axis = 0) 
       
    ################################## Heating ##############################################
    

       heat_pred = pred[:,[5,]]
       heat_pred = np.asarray(heat_pred).reshape(-1)

       heat_test = y_test1[:,[5,]]
       heat_test = np.asarray(heat_test).reshape(-1)    
       
       r2 = r2_score(heat_test,heat_pred) 
       res = [[r2, i, j]]
    
       heat = np.append(heat, res,axis = 0) 
 
       





       i = i+5
       j = j+5
        # [r2 score, max depth, n_estimator]

In [ ]:
column_values = ['score', 'i', 'j']

In [ ]:
pd.DataFrame(data = vent, columns = column_values).to_csv("vent.csv")
vent_data = pd.read_csv('vent.csv')
vent_data

      Unnamed: 0     score      i     j
0              0  0.000000    0.0   0.0
1              1 -0.855590    1.0   1.0
2              2 -0.296554    6.0   2.0
3              3 -0.074110   11.0   3.0
4              4  0.032151   16.0   4.0
...          ...       ...    ...   ...
2397        2397  0.290280  269.0  45.0
2398        2398  0.290365  274.0  46.0
2399        2399  0.290452  279.0  47.0
2400        2400  0.290984  284.0  48.0
2401        2401  0.290896  289.0  49.0

[2402 rows x 4 columns]

In [ ]:
vent_data.iloc[vent_data['score'].idxmax()]

Unnamed: 0     48.000000
score           0.290984
i             236.000000
j              48.000000
Name: 48, dtype: float64

In [ ]:
pd.DataFrame(data = soc, columns = column_values).to_csv("soc.csv")
soc_data = pd.read_csv('soc.csv')
soc_data

      Unnamed: 0     score      i     j
0              0  0.000000    0.0   0.0
1              1  0.159339    1.0   1.0
2              2  0.188011    6.0   2.0
3              3  0.192854   11.0   3.0
4              4  0.194286   16.0   4.0
...          ...       ...    ...   ...
2397        2397  0.203702  269.0  45.0
2398        2398  0.203469  274.0  46.0
2399        2399  0.203318  279.0  47.0
2400        2400  0.202865  284.0  48.0
2401        2401  0.203002  289.0  49.0

[2402 rows x 4 columns]

In [ ]:
soc_data.iloc[soc_data['score'].idxmax()]

Unnamed: 0    12.000000
score          0.209331
i             56.000000
j             12.000000
Name: 12, dtype: float64

In [ ]:
pd.DataFrame(data = light, columns = column_values).to_csv("light.csv")
light_data = pd.read_csv('light.csv')
light_data

      Unnamed: 0     score      i     j
0              0  0.000000    0.0   0.0
1              1  0.367639    1.0   1.0
2              2  0.439397    6.0   2.0
3              3  0.465384   11.0   3.0
4              4  0.479591   16.0   4.0
...          ...       ...    ...   ...
2397        2397  0.512028  269.0  45.0
2398        2398  0.511776  274.0  46.0
2399        2399  0.511708  279.0  47.0
2400        2400  0.511583  284.0  48.0
2401        2401  0.511219  289.0  49.0

[2402 rows x 4 columns]

In [ ]:
light_data.iloc[light_data['score'].idxmax()]

Unnamed: 0     35.000000
score           0.512134
i             171.000000
j              35.000000
Name: 35, dtype: float64

In [ ]:
pd.DataFrame(data = other, columns = column_values).to_csv("other.csv")
other_data = pd.read_csv('other.csv')
other_data

## with data normalized the r2 score of other electricity comes positive

      Unnamed: 0     score      i     j
0              0  0.000000    0.0   0.0
1              1 -0.008414    1.0   1.0
2              2  0.022514    6.0   2.0
3              3  0.038365   11.0   3.0
4              4  0.043665   16.0   4.0
...          ...       ...    ...   ...
2397        2397  0.047799  269.0  45.0
2398        2398  0.047369  274.0  46.0
2399        2399  0.046775  279.0  47.0
2400        2400  0.046605  284.0  48.0
2401        2401  0.046191  289.0  49.0

[2402 rows x 4 columns]

In [ ]:
other_data.iloc[other_data['score'].idxmax()]

Unnamed: 0    18.000000
score          0.056979
i             86.000000
j             18.000000
Name: 18, dtype: float64

In [ ]:
pd.DataFrame(data = cool, columns = column_values).to_csv("cool.csv")
cool_data = pd.read_csv('cool.csv')
cool_data

      Unnamed: 0     score      i     j
0              0  0.000000    0.0   0.0
1              1  0.643093    1.0   1.0
2              2  0.694010    6.0   2.0
3              3  0.703501   11.0   3.0
4              4  0.712049   16.0   4.0
...          ...       ...    ...   ...
2397        2397  0.681018  269.0  45.0
2398        2398  0.680044  274.0  46.0
2399        2399  0.678985  279.0  47.0
2400        2400  0.678153  284.0  48.0
2401        2401  0.677091  289.0  49.0

[2402 rows x 4 columns]

In [ ]:
cool_data.iloc[cool_data['score'].idxmax()]

Unnamed: 0    15.000000
score          0.716983
i             71.000000
j             15.000000
Name: 15, dtype: float64

In [ ]:
pd.DataFrame(data = heat, columns = column_values).to_csv("heat.csv")
heat_data = pd.read_csv('heat.csv')
heat_data

      Unnamed: 0     score      i     j
0              0  0.000000    0.0   0.0
1              1  0.131753    1.0   1.0
2              2  0.165696    6.0   2.0
3              3  0.179574   11.0   3.0
4              4  0.188786   16.0   4.0
...          ...       ...    ...   ...
2397        2397  0.278566  269.0  45.0
2398        2398  0.279864  274.0  46.0
2399        2399  0.280618  279.0  47.0
2400        2400  0.282011  284.0  48.0
2401        2401  0.283137  289.0  49.0

[2402 rows x 4 columns]

In [ ]:
heat_data.iloc[heat_data['score'].idxmax()]

Unnamed: 0     49.000000
score           0.283137
i             241.000000
j              49.000000
Name: 49, dtype: float64