In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
from IPython.display import display
import datetime
import time
import math
import warnings
warnings.filterwarnings("ignore")
import glob

import matplotlib as mpl
mpl.rcParams['figure.figsize'] = (25,10)
mpl.rcParams['axes.grid'] = False

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/Mohammad-Kaosain-Akbar/NILM-two-years-dataset/main/Data_Greener_all.csv')
df['Time']= pd.to_datetime(df['Time'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43824 entries, 0 to 43823
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Time               43824 non-null  datetime64[ns]
 1   Ventilation        43824 non-null  float64
 2   Sokets plug        43824 non-null  float64
 3   Lighting           43824 non-null  float64
 4   Other electricity  43824 non-null  float64
 5   Cooling            43824 non-null  float64
 6   Heating            43824 non-null  float64
dtypes: datetime64[ns](1), float64(6)
memory usage: 2.3 MB

In [3]:
df

,Time,Ventilation,Sokets plug,Lighting,Other electricity,Cooling,Heating
0,2017-01-03 13:00:00,27.4,41.8,53.7,89.6,18.60,498.0
1,2017-01-03 14:00:00,21.6,37.5,50.9,64.6,61.90,500.0
2,2017-01-03 15:00:00,18.5,37.4,60.1,64.2,16.50,480.0
3,2017-01-03 16:00:00,29.7,38.0,52.6,43.2,19.80,390.0
4,2017-01-03 17:00:00,16.7,38.1,56.7,42.4,15.20,373.0
...,...,...,...,...,...,...,...
43819,2022-01-03 08:00:00,59.3,17.9,16.6,115.0,12.70,344.0
43820,2022-01-03 09:00:00,71.9,20.6,33.1,149.0,11.90,399.0
43821,2022-01-03 10:00:00,90.5,30.9,47.8,157.0,12.90,397.0
43822,2022-01-03 11:00:00,94.0,33.9,52.2,155.0,15.40,345.0
43823,2022-01-03 12:00:00,95.3,28.5,36.3,107.0,7.88,272.0

In [4]:
Total = df["Ventilation"] + df["Sokets plug"] + df["Lighting"] + df["Other electricity"] + df["Cooling"] + df["Heating"]
# https://www.kite.com/python/answers/how-to-sum-two-columns-in-a-pandas-dataframe-in-python

df["Total"] = Total
df

,Time,Ventilation,Sokets plug,Lighting,Other electricity,Cooling,Heating,Total
0,2017-01-03 13:00:00,27.4,41.8,53.7,89.6,18.60,498.0,729.10
1,2017-01-03 14:00:00,21.6,37.5,50.9,64.6,61.90,500.0,736.50
2,2017-01-03 15:00:00,18.5,37.4,60.1,64.2,16.50,480.0,676.70
3,2017-01-03 16:00:00,29.7,38.0,52.6,43.2,19.80,390.0,573.30
4,2017-01-03 17:00:00,16.7,38.1,56.7,42.4,15.20,373.0,542.10
...,...,...,...,...,...,...,...,...
43819,2022-01-03 08:00:00,59.3,17.9,16.6,115.0,12.70,344.0,565.50
43820,2022-01-03 09:00:00,71.9,20.6,33.1,149.0,11.90,399.0,685.50
43821,2022-01-03 10:00:00,90.5,30.9,47.8,157.0,12.90,397.0,736.10
43822,2022-01-03 11:00:00,94.0,33.9,52.2,155.0,15.40,345.0,695.50
43823,2022-01-03 12:00:00,95.3,28.5,36.3,107.0,7.88,272.0,546.98

In [5]:
df['Year'] = df['Time'].dt.year
df['Month']=df['Time'].dt.month
df['Quarter_of_year']=df['Time'].dt.quarter
df['Day_of_week']=df['Time'].dt.day_of_week
df['Week_of_year']=df['Time'].dt.week
df['Day']=df['Time'].dt.day
df['Hour']=df['Time'].dt.hour

df.drop('Time', inplace=True, axis=1)
df

,Ventilation,Sokets plug,Lighting,Other electricity,Cooling,Heating,Total,Year,Month,Quarter_of_year,Day_of_week,Week_of_year,Day,Hour
0,27.4,41.8,53.7,89.6,18.60,498.0,729.10,2017,1,1,1,1,3,13
1,21.6,37.5,50.9,64.6,61.90,500.0,736.50,2017,1,1,1,1,3,14
2,18.5,37.4,60.1,64.2,16.50,480.0,676.70,2017,1,1,1,1,3,15
3,29.7,38.0,52.6,43.2,19.80,390.0,573.30,2017,1,1,1,1,3,16
4,16.7,38.1,56.7,42.4,15.20,373.0,542.10,2017,1,1,1,1,3,17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43819,59.3,17.9,16.6,115.0,12.70,344.0,565.50,2022,1,1,0,1,3,8
43820,71.9,20.6,33.1,149.0,11.90,399.0,685.50,2022,1,1,0,1,3,9
43821,90.5,30.9,47.8,157.0,12.90,397.0,736.10,2022,1,1,0,1,3,10
43822,94.0,33.9,52.2,155.0,15.40,345.0,695.50,2022,1,1,0,1,3,11
43823,95.3,28.5,36.3,107.0,7.88,272.0,546.98,2022,1,1,0,1,3,12

In [6]:
# df.iloc[df['Ventilation'].idxmax()]

In [7]:
df_train = df.loc[(df['Year'].isin([2017,2018]))&(df['Day_of_week'].isin([5,6]))]
df_test = df.loc[(df['Year'].isin([2019]))&(df['Day_of_week'].isin([5,6]))]

df_train

,Ventilation,Sokets plug,Lighting,Other electricity,Cooling,Heating,Total,Year,Month,Quarter_of_year,Day_of_week,Week_of_year,Day,Hour
83,9.16,13.6,4.840,162.0,29.30,200.00,418.900,2017,1,1,5,1,7,0
84,4.69,11.8,4.160,166.0,25.00,170.00,381.650,2017,1,1,5,1,7,1
85,5.53,12.8,3.840,167.0,18.90,122.00,330.070,2017,1,1,5,1,7,2
86,4.63,14.9,2.690,178.0,22.00,188.00,410.220,2017,1,1,5,1,7,3
87,4.63,11.0,4.000,170.0,19.70,122.00,331.330,2017,1,1,5,1,7,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17430,0.00,17.9,0.500,12.8,5.56,2.25,39.010,2018,12,4,6,52,30,19
17431,0.00,17.8,0.688,13.4,5.38,83.50,120.768,2018,12,4,6,52,30,20
17432,0.00,12.7,1.310,12.8,7.19,12.60,46.600,2018,12,4,6,52,30,21
17433,0.00,12.9,0.688,13.4,5.44,12.60,45.028,2018,12,4,6,52,30,22
17434,0.00,13.2,0.813,13.3,5.50,12.60,45.413,2018,12,4,6,52,30,23

In [8]:
df_test

,Ventilation,Sokets plug,Lighting,Other electricity,Cooling,Heating,Total,Year,Month,Quarter_of_year,Day_of_week,Week_of_year,Day,Hour
17555,0.00,11.5,1.810,21.9,8.75,188.00,231.960,2019,1,1,5,1,5,0
17556,0.00,12.1,1.690,23.4,8.88,138.00,184.070,2019,1,1,5,1,5,1
17557,27.30,10.1,2.190,0.0,10.60,187.00,237.190,2019,1,1,5,1,5,2
17558,137.00,10.6,0.938,0.0,11.70,170.00,330.238,2019,1,1,5,1,5,3
17559,0.00,11.8,1.690,23.4,9.38,205.00,251.270,2019,1,1,5,1,5,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26166,1.75,16.3,2.560,458.0,0.00,6.75,485.360,2019,12,4,6,52,29,19
26167,1.88,15.4,2.000,460.0,0.00,6.75,486.030,2019,12,4,6,52,29,20
26168,2.13,14.8,2.310,459.0,0.00,7.00,485.240,2019,12,4,6,52,29,21
26169,1.88,11.7,1.380,457.0,0.00,6.50,478.460,2019,12,4,6,52,29,22
26170,2.13,11.4,2.250,457.0,0.00,7.00,479.780,2019,12,4,6,52,29,23

In [9]:
X_train1 = df_train[['Total','Year', 'Month', 'Day', 'Hour']].values
y_train1 = df_train[['Ventilation','Sokets plug', 'Lighting', 'Other electricity', 'Cooling', 'Heating']].values
X_test1 = df_test[['Total','Year', 'Month', 'Day', 'Hour']].values
y_test1 = df_test[['Ventilation','Sokets plug', 'Lighting', 'Other electricity', 'Cooling', 'Heating']].values
print(X_train1.shape, y_train1.shape, X_test1.shape, y_test1.shape)

(4992, 5) (4992, 6) (2496, 5) (2496, 6)

In [10]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train1 = sc.fit_transform(X_train1)
X_test1 = sc.fit_transform(X_test1)

In [11]:
from sklearn.multioutput import MultiOutputRegressor
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.metrics import r2_score


vent = np.array([[0,0,0]])
soc = np.array([[0,0,0]])
light = np.array([[0,0,0]])
other = np.array([[0,0,0]])
cool = np.array([[0,0,0]])
heat = np.array([[0,0,0]])


for i in range(1,100):
    for j in range(60,70):
       model = MultiOutputRegressor(GradientBoostingRegressor(min_samples_leaf=i, n_estimators=j))
       model.fit(X_train1, y_train1)
       
       pred = model.predict(X_test1)
    
    ###############################   Ventilation. #################################################
       vent_pred = pred[:,[0,]]
       vent_pred = np.asarray(vent_pred).reshape(-1)
       vent_test = y_test1[:,[0,]]
       vent_test = np.asarray(vent_test).reshape(-1)
    
       r2 = r2_score(vent_test,vent_pred) 
       res = [[r2, i, j]]
    
       vent = np.append(vent, res,axis = 0) 
       
    ################################## Socket Plugs ##############################################
    

       plug_pred = pred[:,[1,]]
       plug_pred = np.asarray(plug_pred).reshape(-1)

       plug_test = y_test1[:,[1,]]
       plug_test = np.asarray(plug_test).reshape(-1)
    
       r2 = r2_score(plug_test,plug_pred) 
       res = [[r2, i, j]]
    
       soc = np.append(soc, res,axis = 0) 
       
    ################################### Lighting #############################################
    
       light_pred = pred[:,[2,]]
       light_pred = np.asarray(light_pred).reshape(-1)

       light_test = y_test1[:,[2,]]
       light_test = np.asarray(light_test).reshape(-1)

    
       r2 = r2_score(light_test,light_pred) 
       res = [[r2, i, j]]
    
       light = np.append(light, res,axis = 0) 
       
    ##################################  Other Electricity. ##############################################
    

       other_pred = pred[:,[3,]]
       other_pred = np.asarray(other_pred).reshape(-1)

       other_test = y_test1[:,[3,]]
       other_test = np.asarray(other_test).reshape(-1)

       r2 = r2_score(other_test,other_pred) 
       res = [[r2, i, j]]
    
       other = np.append(other, res,axis = 0) 
       
    ###############################   Cooling. #################################################
    
    
       cool_pred = pred[:,[4,]]
       cool_pred = np.asarray(cool_pred).reshape(-1)

       cool_test = y_test1[:,[4,]]
       cool_test = np.asarray(cool_test).reshape(-1)

       r2 = r2_score(cool_test,cool_pred) 
       res = [[r2, i, j]]
    
       cool = np.append(cool, res,axis = 0) 
       
    ################################## Heating ##############################################
    

       heat_pred = pred[:,[5,]]
       heat_pred = np.asarray(heat_pred).reshape(-1)

       heat_test = y_test1[:,[5,]]
       heat_test = np.asarray(heat_test).reshape(-1)    
       
       r2 = r2_score(heat_test,heat_pred) 
       res = [[r2, i, j]]
    
       heat = np.append(heat, res,axis = 0) 
 
        
        # [r2 score, max depth, n_estimator]

In [12]:
column_values = ['score', 'i', 'j']

In [13]:
pd.DataFrame(data = vent, columns = column_values).to_csv("vent.csv")
vent_data = pd.read_csv('vent.csv')
vent_data

     Unnamed: 0     score     i     j
0             0  0.000000   0.0   0.0
1             1 -0.276273   1.0  60.0
2             2 -0.271553   1.0  61.0
3             3 -0.259273   1.0  62.0
4             4 -0.257569   1.0  63.0
..          ...       ...   ...   ...
986         986 -0.159895  99.0  65.0
987         987 -0.160145  99.0  66.0
988         988 -0.158469  99.0  67.0
989         989 -0.171504  99.0  68.0
990         990 -0.170989  99.0  69.0

[991 rows x 4 columns]

In [14]:
vent_data.iloc[vent_data['score'].idxmax()]

Unnamed: 0    0.0
score         0.0
i             0.0
j             0.0
Name: 0, dtype: float64

In [15]:
pd.DataFrame(data = soc, columns = column_values).to_csv("soc.csv")
soc_data = pd.read_csv('soc.csv')
soc_data

     Unnamed: 0     score     i     j
0             0  0.000000   0.0   0.0
1             1 -0.001465   1.0  60.0
2             2 -0.001270   1.0  61.0
3             3 -0.001600   1.0  62.0
4             4 -0.001900   1.0  63.0
..          ...       ...   ...   ...
986         986 -0.003473  99.0  65.0
987         987 -0.003303  99.0  66.0
988         988 -0.003831  99.0  67.0
989         989 -0.003887  99.0  68.0
990         990 -0.003760  99.0  69.0

[991 rows x 4 columns]

In [16]:
soc_data.iloc[soc_data['score'].idxmax()]

Unnamed: 0    441.000000
score           0.000622
i              45.000000
j              60.000000
Name: 441, dtype: float64

In [17]:
pd.DataFrame(data = light, columns = column_values).to_csv("light.csv")
light_data = pd.read_csv('light.csv')
light_data

     Unnamed: 0     score     i     j
0             0  0.000000   0.0   0.0
1             1 -0.427520   1.0  60.0
2             2 -0.397435   1.0  61.0
3             3 -0.396860   1.0  62.0
4             4 -0.394921   1.0  63.0
..          ...       ...   ...   ...
986         986 -0.462281  99.0  65.0
987         987 -0.464928  99.0  66.0
988         988 -0.469837  99.0  67.0
989         989 -0.481901  99.0  68.0
990         990 -0.475454  99.0  69.0

[991 rows x 4 columns]

In [18]:
light_data.iloc[light_data['score'].idxmax()]

Unnamed: 0    0.0
score         0.0
i             0.0
j             0.0
Name: 0, dtype: float64

In [19]:
pd.DataFrame(data = other, columns = column_values).to_csv("other.csv")
other_data = pd.read_csv('other.csv')
other_data

## with data normalized the r2 score of other electricity comes positive

     Unnamed: 0     score     i     j
0             0  0.000000   0.0   0.0
1             1  0.039448   1.0  60.0
2             2  0.036532   1.0  61.0
3             3  0.037028   1.0  62.0
4             4  0.039547   1.0  63.0
..          ...       ...   ...   ...
986         986  0.061228  99.0  65.0
987         987  0.063642  99.0  66.0
988         988  0.064660  99.0  67.0
989         989  0.066149  99.0  68.0
990         990  0.066491  99.0  69.0

[991 rows x 4 columns]

In [20]:
other_data.iloc[other_data['score'].idxmax()]

Unnamed: 0    880.00000
score           0.06964
i              88.00000
j              69.00000
Name: 880, dtype: float64

In [21]:
pd.DataFrame(data = cool, columns = column_values).to_csv("cool.csv")
cool_data = pd.read_csv('cool.csv')
cool_data

     Unnamed: 0     score     i     j
0             0  0.000000   0.0   0.0
1             1  0.675375   1.0  60.0
2             2  0.674908   1.0  61.0
3             3  0.675027   1.0  62.0
4             4  0.675787   1.0  63.0
..          ...       ...   ...   ...
986         986  0.606093  99.0  65.0
987         987  0.605829  99.0  66.0
988         988  0.606043  99.0  67.0
989         989  0.606307  99.0  68.0
990         990  0.606418  99.0  69.0

[991 rows x 4 columns]

In [22]:
cool_data.iloc[cool_data['score'].idxmax()]

Unnamed: 0    210.000000
score           0.697073
i              21.000000
j              69.000000
Name: 210, dtype: float64

#####

In [23]:
pd.DataFrame(data = heat, columns = column_values).to_csv("heat.csv")
heat_data = pd.read_csv('heat.csv')
heat_data

     Unnamed: 0     score     i     j
0             0  0.000000   0.0   0.0
1             1 -1.197306   1.0  60.0
2             2 -1.204767   1.0  61.0
3             3 -1.198208   1.0  62.0
4             4 -1.198067   1.0  63.0
..          ...       ...   ...   ...
986         986 -1.123617  99.0  65.0
987         987 -1.127691  99.0  66.0
988         988 -1.128597  99.0  67.0
989         989 -1.124775  99.0  68.0
990         990 -1.126053  99.0  69.0

[991 rows x 4 columns]

In [24]:
heat_data.iloc[heat_data['score'].idxmax()]

Unnamed: 0    0.0
score         0.0
i             0.0
j             0.0
Name: 0, dtype: float64