In [145]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
from IPython.display import display
import datetime
import time
import math
import warnings
warnings.filterwarnings("ignore")
import glob

import matplotlib as mpl
mpl.rcParams['figure.figsize'] = (25,10)
mpl.rcParams['axes.grid'] = False

In [146]:
df = pd.read_csv('https://raw.githubusercontent.com/Mohammad-Kaosain-Akbar/NILM-two-years-dataset/main/Data_Greener_all.csv')
df['Time']= pd.to_datetime(df['Time'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43824 entries, 0 to 43823
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Time               43824 non-null  datetime64[ns]
 1   Ventilation        43824 non-null  float64
 2   Sokets plug        43824 non-null  float64
 3   Lighting           43824 non-null  float64
 4   Other electricity  43824 non-null  float64
 5   Cooling            43824 non-null  float64
 6   Heating            43824 non-null  float64
dtypes: datetime64[ns](1), float64(6)
memory usage: 2.3 MB

In [147]:
df

,Time,Ventilation,Sokets plug,Lighting,Other electricity,Cooling,Heating
0,2017-01-03 13:00:00,27.4,41.8,53.7,89.6,18.60,498.0
1,2017-01-03 14:00:00,21.6,37.5,50.9,64.6,61.90,500.0
2,2017-01-03 15:00:00,18.5,37.4,60.1,64.2,16.50,480.0
3,2017-01-03 16:00:00,29.7,38.0,52.6,43.2,19.80,390.0
4,2017-01-03 17:00:00,16.7,38.1,56.7,42.4,15.20,373.0
...,...,...,...,...,...,...,...
43819,2022-01-03 08:00:00,59.3,17.9,16.6,115.0,12.70,344.0
43820,2022-01-03 09:00:00,71.9,20.6,33.1,149.0,11.90,399.0
43821,2022-01-03 10:00:00,90.5,30.9,47.8,157.0,12.90,397.0
43822,2022-01-03 11:00:00,94.0,33.9,52.2,155.0,15.40,345.0
43823,2022-01-03 12:00:00,95.3,28.5,36.3,107.0,7.88,272.0

In [148]:
Total = df["Ventilation"] + df["Sokets plug"] + df["Lighting"] + df["Other electricity"] + df["Cooling"] + df["Heating"]
# https://www.kite.com/python/answers/how-to-sum-two-columns-in-a-pandas-dataframe-in-python

df["Total"] = Total
df

,Time,Ventilation,Sokets plug,Lighting,Other electricity,Cooling,Heating,Total
0,2017-01-03 13:00:00,27.4,41.8,53.7,89.6,18.60,498.0,729.10
1,2017-01-03 14:00:00,21.6,37.5,50.9,64.6,61.90,500.0,736.50
2,2017-01-03 15:00:00,18.5,37.4,60.1,64.2,16.50,480.0,676.70
3,2017-01-03 16:00:00,29.7,38.0,52.6,43.2,19.80,390.0,573.30
4,2017-01-03 17:00:00,16.7,38.1,56.7,42.4,15.20,373.0,542.10
...,...,...,...,...,...,...,...,...
43819,2022-01-03 08:00:00,59.3,17.9,16.6,115.0,12.70,344.0,565.50
43820,2022-01-03 09:00:00,71.9,20.6,33.1,149.0,11.90,399.0,685.50
43821,2022-01-03 10:00:00,90.5,30.9,47.8,157.0,12.90,397.0,736.10
43822,2022-01-03 11:00:00,94.0,33.9,52.2,155.0,15.40,345.0,695.50
43823,2022-01-03 12:00:00,95.3,28.5,36.3,107.0,7.88,272.0,546.98

In [149]:
df['Year'] = df['Time'].dt.year
df['Month']=df['Time'].dt.month
df['Quarter_of_year']=df['Time'].dt.quarter
df['Day_of_week']=df['Time'].dt.day_of_week
df['Week_of_year']=df['Time'].dt.week
df['Day']=df['Time'].dt.day
df['Hour']=df['Time'].dt.hour

df.drop('Time', inplace=True, axis=1)
df

,Ventilation,Sokets plug,Lighting,Other electricity,Cooling,Heating,Total,Year,Month,Quarter_of_year,Day_of_week,Week_of_year,Day,Hour
0,27.4,41.8,53.7,89.6,18.60,498.0,729.10,2017,1,1,1,1,3,13
1,21.6,37.5,50.9,64.6,61.90,500.0,736.50,2017,1,1,1,1,3,14
2,18.5,37.4,60.1,64.2,16.50,480.0,676.70,2017,1,1,1,1,3,15
3,29.7,38.0,52.6,43.2,19.80,390.0,573.30,2017,1,1,1,1,3,16
4,16.7,38.1,56.7,42.4,15.20,373.0,542.10,2017,1,1,1,1,3,17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43819,59.3,17.9,16.6,115.0,12.70,344.0,565.50,2022,1,1,0,1,3,8
43820,71.9,20.6,33.1,149.0,11.90,399.0,685.50,2022,1,1,0,1,3,9
43821,90.5,30.9,47.8,157.0,12.90,397.0,736.10,2022,1,1,0,1,3,10
43822,94.0,33.9,52.2,155.0,15.40,345.0,695.50,2022,1,1,0,1,3,11
43823,95.3,28.5,36.3,107.0,7.88,272.0,546.98,2022,1,1,0,1,3,12

In [150]:
# df.iloc[df['Ventilation'].idxmax()]

In [151]:
df_train = df.loc[(df['Year'].isin([2017,2018]))&(df['Month'].isin([9,10,11]))]
df_test = df.loc[(df['Year'].isin([2019]))&(df['Month'].isin([9,10,11]))]

df_train

,Ventilation,Sokets plug,Lighting,Other electricity,Cooling,Heating,Total,Year,Month,Quarter_of_year,Day_of_week,Week_of_year,Day,Hour
5770,15.10,10.9,4.66,81.7,58.20,1.75,172.31,2017,9,3,4,35,1,0
5771,19.40,11.0,5.53,83.1,48.80,2.75,170.58,2017,9,3,4,35,1,1
5772,16.30,11.7,6.38,64.0,65.20,3.25,166.83,2017,9,3,4,35,1,2
5773,16.80,9.0,4.44,96.3,39.50,3.00,169.04,2017,9,3,4,35,1,3
5774,15.80,11.3,4.72,66.8,63.70,3.13,165.45,2017,9,3,4,35,1,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16710,231.00,22.1,44.30,0.0,27.10,205.00,529.50,2018,11,4,4,48,30,19
16711,185.00,18.4,49.60,0.0,15.00,189.00,457.00,2018,11,4,4,48,30,20
16712,24.60,13.2,28.70,0.0,8.75,156.00,231.25,2018,11,4,4,48,30,21
16713,3.06,14.4,17.90,14.2,9.72,88.00,147.28,2018,11,4,4,48,30,22
16714,1.88,11.8,11.50,14.0,9.91,38.30,87.39,2018,11,4,4,48,30,23

In [152]:
df_test

,Ventilation,Sokets plug,Lighting,Other electricity,Cooling,Heating,Total,Year,Month,Quarter_of_year,Day_of_week,Week_of_year,Day,Hour
23290,6.00,10.70,2.06,71.5,76.7,4.50,171.46,2019,9,3,6,35,1,0
23291,5.50,12.40,1.06,92.3,55.2,4.50,170.96,2019,9,3,6,35,1,1
23292,6.25,10.80,2.44,96.4,52.2,4.75,172.84,2019,9,3,6,35,1,2
23293,5.50,13.60,2.50,19.2,119.0,4.25,164.05,2019,9,3,6,35,1,3
23294,6.00,12.30,1.19,97.3,47.8,4.25,168.84,2019,9,3,6,35,1,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25470,9.63,9.44,2.50,451.0,0.0,12.30,484.87,2019,11,4,5,48,30,19
25471,6.63,8.13,2.31,463.0,0.0,12.80,492.87,2019,11,4,5,48,30,20
25472,6.75,8.88,3.13,462.0,0.0,12.30,493.06,2019,11,4,5,48,30,21
25473,10.00,9.13,2.50,461.0,0.0,21.30,503.93,2019,11,4,5,48,30,22
25474,8.50,8.56,2.44,461.0,0.0,11.80,492.30,2019,11,4,5,48,30,23

In [153]:
X_train1 = df_train[['Total','Year', 'Month', 'Day', 'Hour']].values
y_train1 = df_train[['Ventilation','Sokets plug', 'Lighting', 'Other electricity', 'Cooling', 'Heating']].values
X_test1 = df_test[['Total','Year', 'Month', 'Day', 'Hour']].values
y_test1 = df_test[['Ventilation','Sokets plug', 'Lighting', 'Other electricity', 'Cooling', 'Heating']].values
print(X_train1.shape, y_train1.shape, X_test1.shape, y_test1.shape)

(4370, 5) (4370, 6) (2185, 5) (2185, 6)

In [154]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train1 = sc.fit_transform(X_train1)
X_test1 = sc.fit_transform(X_test1)

In [ ]:
from sklearn.multioutput import MultiOutputRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score


vent = np.array([[0,0,0]])
soc = np.array([[0,0,0]])
light = np.array([[0,0,0]])
other = np.array([[0,0,0]])
cool = np.array([[0,0,0]])
heat = np.array([[0,0,0]])

# i = 10
# j = 5
for i in range(1,100):
    for j in range(40,50):
        model = RandomForestRegressor(max_depth=i, n_estimators=j)
        model.fit(X_train1, y_train1)

        pred = model.predict(X_test1)

        ###############################   Ventilation. #################################################
        vent_pred = pred[:,[0,]]
        vent_pred = np.asarray(vent_pred).reshape(-1)
        vent_test = y_test1[:,[0,]]
        vent_test = np.asarray(vent_test).reshape(-1)

        r2 = r2_score(vent_test,vent_pred) 
        res = [[r2, i, j]]

        vent = np.append(vent, res,axis = 0) 

        ################################## Socket Plugs ##############################################


        plug_pred = pred[:,[1,]]
        plug_pred = np.asarray(plug_pred).reshape(-1)

        plug_test = y_test1[:,[1,]]
        plug_test = np.asarray(plug_test).reshape(-1)

        r2 = r2_score(plug_test,plug_pred) 
        res = [[r2, i, j]]

        soc = np.append(soc, res,axis = 0) 

        ################################### Lighting #############################################

        light_pred = pred[:,[2,]]
        light_pred = np.asarray(light_pred).reshape(-1)

        light_test = y_test1[:,[2,]]
        light_test = np.asarray(light_test).reshape(-1)


        r2 = r2_score(light_test,light_pred) 
        res = [[r2, i, j]]

        light = np.append(light, res,axis = 0) 

        ##################################  Other Electricity. ##############################################


        other_pred = pred[:,[3,]]
        other_pred = np.asarray(other_pred).reshape(-1)

        other_test = y_test1[:,[3,]]
        other_test = np.asarray(other_test).reshape(-1)

        r2 = r2_score(other_test,other_pred) 
        res = [[r2, i, j]]

        other = np.append(other, res,axis = 0) 

        ###############################   Cooling. #################################################


        cool_pred = pred[:,[4,]]
        cool_pred = np.asarray(cool_pred).reshape(-1)

        cool_test = y_test1[:,[4,]]
        cool_test = np.asarray(cool_test).reshape(-1)

        r2 = r2_score(cool_test,cool_pred) 
        res = [[r2, i, j]]

        cool = np.append(cool, res,axis = 0) 

        ################################## Heating ##############################################


        heat_pred = pred[:,[5,]]
        heat_pred = np.asarray(heat_pred).reshape(-1)

        heat_test = y_test1[:,[5,]]
        heat_test = np.asarray(heat_test).reshape(-1)    

        r2 = r2_score(heat_test,heat_pred) 
        res = [[r2, i, j]]

        heat = np.append(heat, res,axis = 0) 


        # [r2 score, max depth, n_estimator]

In [ ]:
column_values = ['score', 'i', 'j']

In [ ]:
pd.DataFrame(data = vent, columns = column_values).to_csv("vent.csv")
vent_data = pd.read_csv('vent.csv')
vent_data

In [ ]:
vent_data.iloc[vent_data['score'].idxmax()]

In [ ]:
pd.DataFrame(data = soc, columns = column_values).to_csv("soc.csv")
soc_data = pd.read_csv('soc.csv')
soc_data

In [ ]:
soc_data.iloc[soc_data['score'].idxmax()]

In [ ]:
pd.DataFrame(data = light, columns = column_values).to_csv("light.csv")
light_data = pd.read_csv('light.csv')
light_data

In [ ]:
light_data.iloc[light_data['score'].idxmax()]

In [ ]:
pd.DataFrame(data = other, columns = column_values).to_csv("other.csv")
other_data = pd.read_csv('other.csv')
other_data

## with data normalized the r2 score of other electricity comes positive

In [ ]:
other_data.iloc[other_data['score'].idxmax()]

In [ ]:
pd.DataFrame(data = cool, columns = column_values).to_csv("cool.csv")
cool_data = pd.read_csv('cool.csv')
cool_data

In [ ]:
cool_data.iloc[cool_data['score'].idxmax()]

In [ ]:
pd.DataFrame(data = heat, columns = column_values).to_csv("heat.csv")
heat_data = pd.read_csv('heat.csv')
heat_data

In [ ]:
heat_data.iloc[heat_data['score'].idxmax()]

#