In [95]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
from IPython.display import display
import datetime
import time
import math
import warnings
warnings.filterwarnings("ignore")
import glob

import matplotlib as mpl
mpl.rcParams['figure.figsize'] = (25,10)
mpl.rcParams['axes.grid'] = False

In [96]:
df = pd.read_csv('https://raw.githubusercontent.com/Mohammad-Kaosain-Akbar/NILM-two-years-dataset/main/Data_Greener_all.csv')
df['Time']= pd.to_datetime(df['Time'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43824 entries, 0 to 43823
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Time               43824 non-null  datetime64[ns]
 1   Ventilation        43824 non-null  float64
 2   Sokets plug        43824 non-null  float64
 3   Lighting           43824 non-null  float64
 4   Other electricity  43824 non-null  float64
 5   Cooling            43824 non-null  float64
 6   Heating            43824 non-null  float64
dtypes: datetime64[ns](1), float64(6)
memory usage: 2.3 MB

In [97]:
df

,Time,Ventilation,Sokets plug,Lighting,Other electricity,Cooling,Heating
0,2017-01-03 13:00:00,27.4,41.8,53.7,89.6,18.60,498.0
1,2017-01-03 14:00:00,21.6,37.5,50.9,64.6,61.90,500.0
2,2017-01-03 15:00:00,18.5,37.4,60.1,64.2,16.50,480.0
3,2017-01-03 16:00:00,29.7,38.0,52.6,43.2,19.80,390.0
4,2017-01-03 17:00:00,16.7,38.1,56.7,42.4,15.20,373.0
...,...,...,...,...,...,...,...
43819,2022-01-03 08:00:00,59.3,17.9,16.6,115.0,12.70,344.0
43820,2022-01-03 09:00:00,71.9,20.6,33.1,149.0,11.90,399.0
43821,2022-01-03 10:00:00,90.5,30.9,47.8,157.0,12.90,397.0
43822,2022-01-03 11:00:00,94.0,33.9,52.2,155.0,15.40,345.0
43823,2022-01-03 12:00:00,95.3,28.5,36.3,107.0,7.88,272.0

In [98]:
Total = df["Ventilation"] + df["Sokets plug"] + df["Lighting"] + df["Other electricity"] + df["Cooling"] + df["Heating"]
# https://www.kite.com/python/answers/how-to-sum-two-columns-in-a-pandas-dataframe-in-python

df["Total"] = Total
df

,Time,Ventilation,Sokets plug,Lighting,Other electricity,Cooling,Heating,Total
0,2017-01-03 13:00:00,27.4,41.8,53.7,89.6,18.60,498.0,729.10
1,2017-01-03 14:00:00,21.6,37.5,50.9,64.6,61.90,500.0,736.50
2,2017-01-03 15:00:00,18.5,37.4,60.1,64.2,16.50,480.0,676.70
3,2017-01-03 16:00:00,29.7,38.0,52.6,43.2,19.80,390.0,573.30
4,2017-01-03 17:00:00,16.7,38.1,56.7,42.4,15.20,373.0,542.10
...,...,...,...,...,...,...,...,...
43819,2022-01-03 08:00:00,59.3,17.9,16.6,115.0,12.70,344.0,565.50
43820,2022-01-03 09:00:00,71.9,20.6,33.1,149.0,11.90,399.0,685.50
43821,2022-01-03 10:00:00,90.5,30.9,47.8,157.0,12.90,397.0,736.10
43822,2022-01-03 11:00:00,94.0,33.9,52.2,155.0,15.40,345.0,695.50
43823,2022-01-03 12:00:00,95.3,28.5,36.3,107.0,7.88,272.0,546.98

In [99]:
df['Year'] = df['Time'].dt.year
df['Month']=df['Time'].dt.month
df['Quarter_of_year']=df['Time'].dt.quarter
df['Day_of_week']=df['Time'].dt.day_of_week
df['Week_of_year']=df['Time'].dt.week
df['Day']=df['Time'].dt.day
df['Hour']=df['Time'].dt.hour

df.drop('Time', inplace=True, axis=1)
df

,Ventilation,Sokets plug,Lighting,Other electricity,Cooling,Heating,Total,Year,Month,Quarter_of_year,Day_of_week,Week_of_year,Day,Hour
0,27.4,41.8,53.7,89.6,18.60,498.0,729.10,2017,1,1,1,1,3,13
1,21.6,37.5,50.9,64.6,61.90,500.0,736.50,2017,1,1,1,1,3,14
2,18.5,37.4,60.1,64.2,16.50,480.0,676.70,2017,1,1,1,1,3,15
3,29.7,38.0,52.6,43.2,19.80,390.0,573.30,2017,1,1,1,1,3,16
4,16.7,38.1,56.7,42.4,15.20,373.0,542.10,2017,1,1,1,1,3,17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43819,59.3,17.9,16.6,115.0,12.70,344.0,565.50,2022,1,1,0,1,3,8
43820,71.9,20.6,33.1,149.0,11.90,399.0,685.50,2022,1,1,0,1,3,9
43821,90.5,30.9,47.8,157.0,12.90,397.0,736.10,2022,1,1,0,1,3,10
43822,94.0,33.9,52.2,155.0,15.40,345.0,695.50,2022,1,1,0,1,3,11
43823,95.3,28.5,36.3,107.0,7.88,272.0,546.98,2022,1,1,0,1,3,12

In [100]:
# df.iloc[df['Ventilation'].idxmax()]

In [101]:
df_train = df.loc[(df['Year'].isin([2017,2018]))&(df['Month'].isin([3,4,5]))]
df_test = df.loc[(df['Year'].isin([2019]))&(df['Month'].isin([3,4,5]))]

df_train

,Ventilation,Sokets plug,Lighting,Other electricity,Cooling,Heating,Total,Year,Month,Quarter_of_year,Day_of_week,Week_of_year,Day,Hour
1355,19.2,12.70,6.25,104.00,28.3,45.10,215.55,2017,3,1,2,9,1,0
1356,16.8,12.60,5.22,101.00,37.1,43.90,216.62,2017,3,1,2,9,1,1
1357,17.2,9.31,6.84,103.00,35.1,19.50,190.95,2017,3,1,2,9,1,2
1358,22.7,13.90,6.63,89.00,39.0,69.80,241.03,2017,3,1,2,9,1,3
1359,15.9,10.70,5.88,112.00,27.6,70.30,242.38,2017,3,1,2,9,1,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12317,66.8,35.70,48.80,82.20,49.1,5.75,288.35,2018,5,2,3,22,31,19
12318,55.4,29.10,37.30,72.80,60.5,5.50,260.60,2018,5,2,3,22,31,20
12319,59.7,22.70,31.20,1.53,128.0,5.38,248.51,2018,5,2,3,22,31,21
12320,41.6,18.30,22.30,58.80,73.5,5.38,219.88,2018,5,2,3,22,31,22
12321,10.0,16.60,14.70,58.80,71.4,5.25,176.75,2018,5,2,3,22,31,23

In [102]:
df_test

,Ventilation,Sokets plug,Lighting,Other electricity,Cooling,Heating,Total,Year,Month,Quarter_of_year,Day_of_week,Week_of_year,Day,Hour
18875,11.50,12.6,2.750,0.938,22.0,14.50,64.288,2019,3,1,4,9,1,0
18876,12.30,11.9,2.130,0.938,22.0,14.50,63.768,2019,3,1,4,9,1,1
18877,11.50,12.7,2.130,4.000,21.9,14.30,66.530,2019,3,1,4,9,1,2
18878,12.60,11.1,4.380,3.060,21.1,15.00,67.240,2019,3,1,4,9,1,3
18879,11.50,13.6,0.375,7.440,17.4,15.80,66.115,2019,3,1,4,9,1,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21077,7.25,12.1,11.800,111.000,22.4,7.75,172.300,2019,5,2,4,22,31,19
21078,9.38,13.6,13.100,108.000,26.0,8.00,178.080,2019,5,2,4,22,31,20
21079,70.00,14.8,14.400,42.200,24.2,7.75,173.350,2019,5,2,4,22,31,21
21080,15.80,13.1,13.600,93.600,30.0,7.75,173.850,2019,5,2,4,22,31,22
21081,7.13,15.6,12.000,102.000,22.8,71.80,231.330,2019,5,2,4,22,31,23

In [103]:
X_train1 = df_train[['Total','Year', 'Month', 'Day', 'Hour']].values
y_train1 = df_train[['Ventilation','Sokets plug', 'Lighting', 'Other electricity', 'Cooling', 'Heating']].values
X_test1 = df_test[['Total','Year', 'Month', 'Day', 'Hour']].values
y_test1 = df_test[['Ventilation','Sokets plug', 'Lighting', 'Other electricity', 'Cooling', 'Heating']].values
print(X_train1.shape, y_train1.shape, X_test1.shape, y_test1.shape)

(4414, 5) (4414, 6) (2207, 5) (2207, 6)

In [104]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train1 = sc.fit_transform(X_train1)
X_test1 = sc.fit_transform(X_test1)

In [ ]:
from sklearn.multioutput import MultiOutputRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score


vent = np.array([[0,0,0]])
soc = np.array([[0,0,0]])
light = np.array([[0,0,0]])
other = np.array([[0,0,0]])
cool = np.array([[0,0,0]])
heat = np.array([[0,0,0]])

# i = 10
# j = 5
for i in range(1,100):
    for j in range(31,40):
        model = RandomForestRegressor(max_depth=i, n_estimators=j)
        model.fit(X_train1, y_train1)

        pred = model.predict(X_test1)

        ###############################   Ventilation. #################################################
        vent_pred = pred[:,[0,]]
        vent_pred = np.asarray(vent_pred).reshape(-1)
        vent_test = y_test1[:,[0,]]
        vent_test = np.asarray(vent_test).reshape(-1)

        r2 = r2_score(vent_test,vent_pred) 
        res = [[r2, i, j]]

        vent = np.append(vent, res,axis = 0) 

        ################################## Socket Plugs ##############################################


        plug_pred = pred[:,[1,]]
        plug_pred = np.asarray(plug_pred).reshape(-1)

        plug_test = y_test1[:,[1,]]
        plug_test = np.asarray(plug_test).reshape(-1)

        r2 = r2_score(plug_test,plug_pred) 
        res = [[r2, i, j]]

        soc = np.append(soc, res,axis = 0) 

        ################################### Lighting #############################################

        light_pred = pred[:,[2,]]
        light_pred = np.asarray(light_pred).reshape(-1)

        light_test = y_test1[:,[2,]]
        light_test = np.asarray(light_test).reshape(-1)


        r2 = r2_score(light_test,light_pred) 
        res = [[r2, i, j]]

        light = np.append(light, res,axis = 0) 

        ##################################  Other Electricity. ##############################################


        other_pred = pred[:,[3,]]
        other_pred = np.asarray(other_pred).reshape(-1)

        other_test = y_test1[:,[3,]]
        other_test = np.asarray(other_test).reshape(-1)

        r2 = r2_score(other_test,other_pred) 
        res = [[r2, i, j]]

        other = np.append(other, res,axis = 0) 

        ###############################   Cooling. #################################################


        cool_pred = pred[:,[4,]]
        cool_pred = np.asarray(cool_pred).reshape(-1)

        cool_test = y_test1[:,[4,]]
        cool_test = np.asarray(cool_test).reshape(-1)

        r2 = r2_score(cool_test,cool_pred) 
        res = [[r2, i, j]]

        cool = np.append(cool, res,axis = 0) 

        ################################## Heating ##############################################


        heat_pred = pred[:,[5,]]
        heat_pred = np.asarray(heat_pred).reshape(-1)

        heat_test = y_test1[:,[5,]]
        heat_test = np.asarray(heat_test).reshape(-1)    

        r2 = r2_score(heat_test,heat_pred) 
        res = [[r2, i, j]]

        heat = np.append(heat, res,axis = 0) 


        # [r2 score, max depth, n_estimator]

In [ ]:
column_values = ['score', 'i', 'j']

In [ ]:
pd.DataFrame(data = vent, columns = column_values).to_csv("vent.csv")
vent_data = pd.read_csv('vent.csv')
vent_data

In [ ]:
vent_data.iloc[vent_data['score'].idxmax()]

In [ ]:
pd.DataFrame(data = soc, columns = column_values).to_csv("soc.csv")
soc_data = pd.read_csv('soc.csv')
soc_data

In [ ]:
soc_data.iloc[soc_data['score'].idxmax()]

In [ ]:
pd.DataFrame(data = light, columns = column_values).to_csv("light.csv")
light_data = pd.read_csv('light.csv')
light_data

In [ ]:
light_data.iloc[light_data['score'].idxmax()]

In [ ]:
pd.DataFrame(data = other, columns = column_values).to_csv("other.csv")
other_data = pd.read_csv('other.csv')
other_data

## with data normalized the r2 score of other electricity comes positive

In [ ]:
other_data.iloc[other_data['score'].idxmax()]

In [ ]:
pd.DataFrame(data = cool, columns = column_values).to_csv("cool.csv")
cool_data = pd.read_csv('cool.csv')
cool_data

In [ ]:
cool_data.iloc[cool_data['score'].idxmax()]

In [ ]:
pd.DataFrame(data = heat, columns = column_values).to_csv("heat.csv")
heat_data = pd.read_csv('heat.csv')
heat_data

In [ ]:
heat_data.iloc[heat_data['score'].idxmax()]