In [25]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
from IPython.display import display
import datetime
import time
import math
import warnings
warnings.filterwarnings("ignore")
import glob

import matplotlib as mpl
mpl.rcParams['figure.figsize'] = (25,10)
mpl.rcParams['axes.grid'] = False

In [26]:
df = pd.read_csv('https://raw.githubusercontent.com/Mohammad-Kaosain-Akbar/NILM-two-years-dataset/main/Data_Greener_all.csv')
df['Time']= pd.to_datetime(df['Time'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43824 entries, 0 to 43823
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Time               43824 non-null  datetime64[ns]
 1   Ventilation        43824 non-null  float64
 2   Sokets plug        43824 non-null  float64
 3   Lighting           43824 non-null  float64
 4   Other electricity  43824 non-null  float64
 5   Cooling            43824 non-null  float64
 6   Heating            43824 non-null  float64
dtypes: datetime64[ns](1), float64(6)
memory usage: 2.3 MB

In [27]:
df

,Time,Ventilation,Sokets plug,Lighting,Other electricity,Cooling,Heating
0,2017-01-03 13:00:00,27.4,41.8,53.7,89.6,18.60,498.0
1,2017-01-03 14:00:00,21.6,37.5,50.9,64.6,61.90,500.0
2,2017-01-03 15:00:00,18.5,37.4,60.1,64.2,16.50,480.0
3,2017-01-03 16:00:00,29.7,38.0,52.6,43.2,19.80,390.0
4,2017-01-03 17:00:00,16.7,38.1,56.7,42.4,15.20,373.0
...,...,...,...,...,...,...,...
43819,2022-01-03 08:00:00,59.3,17.9,16.6,115.0,12.70,344.0
43820,2022-01-03 09:00:00,71.9,20.6,33.1,149.0,11.90,399.0
43821,2022-01-03 10:00:00,90.5,30.9,47.8,157.0,12.90,397.0
43822,2022-01-03 11:00:00,94.0,33.9,52.2,155.0,15.40,345.0
43823,2022-01-03 12:00:00,95.3,28.5,36.3,107.0,7.88,272.0

In [28]:
Total = df["Ventilation"] + df["Sokets plug"] + df["Lighting"] + df["Other electricity"] + df["Cooling"] + df["Heating"]
# https://www.kite.com/python/answers/how-to-sum-two-columns-in-a-pandas-dataframe-in-python

df["Total"] = Total
df

,Time,Ventilation,Sokets plug,Lighting,Other electricity,Cooling,Heating,Total
0,2017-01-03 13:00:00,27.4,41.8,53.7,89.6,18.60,498.0,729.10
1,2017-01-03 14:00:00,21.6,37.5,50.9,64.6,61.90,500.0,736.50
2,2017-01-03 15:00:00,18.5,37.4,60.1,64.2,16.50,480.0,676.70
3,2017-01-03 16:00:00,29.7,38.0,52.6,43.2,19.80,390.0,573.30
4,2017-01-03 17:00:00,16.7,38.1,56.7,42.4,15.20,373.0,542.10
...,...,...,...,...,...,...,...,...
43819,2022-01-03 08:00:00,59.3,17.9,16.6,115.0,12.70,344.0,565.50
43820,2022-01-03 09:00:00,71.9,20.6,33.1,149.0,11.90,399.0,685.50
43821,2022-01-03 10:00:00,90.5,30.9,47.8,157.0,12.90,397.0,736.10
43822,2022-01-03 11:00:00,94.0,33.9,52.2,155.0,15.40,345.0,695.50
43823,2022-01-03 12:00:00,95.3,28.5,36.3,107.0,7.88,272.0,546.98

In [29]:
df['Year'] = df['Time'].dt.year
df['Month']=df['Time'].dt.month
df['Quarter_of_year']=df['Time'].dt.quarter
df['Day_of_week']=df['Time'].dt.day_of_week
df['Week_of_year']=df['Time'].dt.week
df['Day']=df['Time'].dt.day
df['Hour']=df['Time'].dt.hour

df.drop('Time', inplace=True, axis=1)
df

,Ventilation,Sokets plug,Lighting,Other electricity,Cooling,Heating,Total,Year,Month,Quarter_of_year,Day_of_week,Week_of_year,Day,Hour
0,27.4,41.8,53.7,89.6,18.60,498.0,729.10,2017,1,1,1,1,3,13
1,21.6,37.5,50.9,64.6,61.90,500.0,736.50,2017,1,1,1,1,3,14
2,18.5,37.4,60.1,64.2,16.50,480.0,676.70,2017,1,1,1,1,3,15
3,29.7,38.0,52.6,43.2,19.80,390.0,573.30,2017,1,1,1,1,3,16
4,16.7,38.1,56.7,42.4,15.20,373.0,542.10,2017,1,1,1,1,3,17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43819,59.3,17.9,16.6,115.0,12.70,344.0,565.50,2022,1,1,0,1,3,8
43820,71.9,20.6,33.1,149.0,11.90,399.0,685.50,2022,1,1,0,1,3,9
43821,90.5,30.9,47.8,157.0,12.90,397.0,736.10,2022,1,1,0,1,3,10
43822,94.0,33.9,52.2,155.0,15.40,345.0,695.50,2022,1,1,0,1,3,11
43823,95.3,28.5,36.3,107.0,7.88,272.0,546.98,2022,1,1,0,1,3,12

In [30]:
# df.iloc[df['Ventilation'].idxmax()]

In [31]:
df_train = df.loc[(df['Year'].isin([2017,2018]))&(df['Day_of_week'].isin([0,1,2,3,4]))&(df['Hour'].isin([9,10,11,12,13,14,15,16,17,18,19]))]
df_test = df.loc[(df['Year'].isin([2019]))&(df['Day_of_week'].isin([0,1,2,3,4]))&(df['Hour'].isin([9,10,11,12,13,14,15,16,17,18,19]))]

df_train

,Ventilation,Sokets plug,Lighting,Other electricity,Cooling,Heating,Total,Year,Month,Quarter_of_year,Day_of_week,Week_of_year,Day,Hour
0,27.4,41.8,53.70,89.60,18.60,498.0,729.10,2017,1,1,1,1,3,13
1,21.6,37.5,50.90,64.60,61.90,500.0,736.50,2017,1,1,1,1,3,14
2,18.5,37.4,60.10,64.20,16.50,480.0,676.70,2017,1,1,1,1,3,15
3,29.7,38.0,52.60,43.20,19.80,390.0,573.30,2017,1,1,1,1,3,16
4,16.7,38.1,56.70,42.40,15.20,373.0,542.10,2017,1,1,1,1,3,17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17450,0.0,11.3,6.69,7.31,8.69,117.0,150.99,2018,12,4,0,1,31,15
17451,0.0,13.3,5.44,7.56,9.00,350.0,385.30,2018,12,4,0,1,31,16
17452,0.0,12.4,5.31,10.30,9.00,300.0,337.01,2018,12,4,0,1,31,17
17453,0.0,12.9,6.31,10.10,9.69,283.0,322.00,2018,12,4,0,1,31,18
17454,0.0,11.7,7.50,11.60,8.69,250.0,289.49,2018,12,4,0,1,31,19

In [32]:
df_test

,Ventilation,Sokets plug,Lighting,Other electricity,Cooling,Heating,Total,Year,Month,Quarter_of_year,Day_of_week,Week_of_year,Day,Hour
17468,0.00,12.10,8.00,9.41,9.28,233.0,271.79,2019,1,1,1,1,1,9
17469,0.00,9.75,6.63,10.10,9.31,267.0,302.79,2019,1,1,1,1,1,10
17470,1.06,11.20,4.63,9.63,9.75,200.0,236.27,2019,1,1,1,1,1,11
17471,2.00,10.30,5.06,7.38,10.10,217.0,251.84,2019,1,1,1,1,1,12
17472,0.00,12.10,6.38,7.75,8.56,233.0,267.79,2019,1,1,1,1,1,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26210,7.00,13.20,13.20,456.00,0.00,188.0,677.40,2019,12,4,1,1,31,15
26211,12.00,10.20,14.40,454.00,0.00,105.0,595.60,2019,12,4,1,1,31,16
26212,8.88,12.00,12.80,458.00,0.00,139.0,630.68,2019,12,4,1,1,31,17
26213,7.25,14.50,13.70,455.00,0.00,205.0,695.45,2019,12,4,1,1,31,18
26214,10.30,11.30,13.60,458.00,0.00,222.0,715.20,2019,12,4,1,1,31,19

In [33]:
X_train1 = df_train[['Total','Year', 'Month', 'Day', 'Hour']].values
y_train1 = df_train[['Ventilation','Sokets plug', 'Lighting', 'Other electricity', 'Cooling', 'Heating']].values
X_test1 = df_test[['Total','Year', 'Month', 'Day', 'Hour']].values
y_test1 = df_test[['Ventilation','Sokets plug', 'Lighting', 'Other electricity', 'Cooling', 'Heating']].values
print(X_train1.shape, y_train1.shape, X_test1.shape, y_test1.shape)

(5716, 5) (5716, 6) (2871, 5) (2871, 6)

In [34]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train1 = sc.fit_transform(X_train1)
X_test1 = sc.fit_transform(X_test1)

In [35]:
from sklearn.multioutput import MultiOutputRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import r2_score


vent = np.array([[0,0,0]])
soc = np.array([[0,0,0]])
light = np.array([[0,0,0]])
other = np.array([[0,0,0]])
cool = np.array([[0,0,0]])
heat = np.array([[0,0,0]])


for i in range(51,100):
     for j in range(50,60):
       
       
       
       model = MultiOutputRegressor(KNeighborsRegressor(algorithm='ball_tree', leaf_size = i, n_neighbors=j))
       model.fit(X_train1, y_train1)
       
       pred = model.predict(X_test1)
    
    ###############################   Ventilation. #################################################
       vent_pred = pred[:,[0,]]
       vent_pred = np.asarray(vent_pred).reshape(-1)
       vent_test = y_test1[:,[0,]]
       vent_test = np.asarray(vent_test).reshape(-1)
    
       r2 = r2_score(vent_test,vent_pred) 
       res = [[r2, i, j]]
    
       vent = np.append(vent, res,axis = 0) 
       
    ################################## Socket Plugs ##############################################
    

       plug_pred = pred[:,[1,]]
       plug_pred = np.asarray(plug_pred).reshape(-1)

       plug_test = y_test1[:,[1,]]
       plug_test = np.asarray(plug_test).reshape(-1)
    
       r2 = r2_score(plug_test,plug_pred) 
       res = [[r2, i, j]]
    
       soc = np.append(soc, res,axis = 0) 
       
    ################################### Lighting #############################################
    
       light_pred = pred[:,[2,]]
       light_pred = np.asarray(light_pred).reshape(-1)

       light_test = y_test1[:,[2,]]
       light_test = np.asarray(light_test).reshape(-1)

    
       r2 = r2_score(light_test,light_pred) 
       res = [[r2, i, j]]
    
       light = np.append(light, res,axis = 0) 
       
    ##################################  Other Electricity. ##############################################
    

       other_pred = pred[:,[3,]]
       other_pred = np.asarray(other_pred).reshape(-1)

       other_test = y_test1[:,[3,]]
       other_test = np.asarray(other_test).reshape(-1)

       r2 = r2_score(other_test,other_pred) 
       res = [[r2, i, j]]
    
       other = np.append(other, res,axis = 0) 
       
    ###############################   Cooling. #################################################
    
    
       cool_pred = pred[:,[4,]]
       cool_pred = np.asarray(cool_pred).reshape(-1)

       cool_test = y_test1[:,[4,]]
       cool_test = np.asarray(cool_test).reshape(-1)

       r2 = r2_score(cool_test,cool_pred) 
       res = [[r2, i, j]]
    
       cool = np.append(cool, res,axis = 0) 
       
    ################################## Heating ##############################################
    

       heat_pred = pred[:,[5,]]
       heat_pred = np.asarray(heat_pred).reshape(-1)

       heat_test = y_test1[:,[5,]]
       heat_test = np.asarray(heat_test).reshape(-1)    
       
       r2 = r2_score(heat_test,heat_pred) 
       res = [[r2, i, j]]
    
       heat = np.append(heat, res,axis = 0) 
 
       





       i = i+5
       j = j+5
        # [r2 score, max depth, n_estimator]

In [36]:
column_values = ['score', 'i', 'j']

In [37]:
pd.DataFrame(data = vent, columns = column_values).to_csv("vent.csv")
vent_data = pd.read_csv('vent.csv')
vent_data

     Unnamed: 0     score      i     j
0             0  0.000000    0.0   0.0
1             1  0.065872   51.0  50.0
2             2  0.066599   56.0  51.0
3             3  0.066997   61.0  52.0
4             4  0.067836   66.0  53.0
..          ...       ...    ...   ...
486         486  0.068155  124.0  55.0
487         487  0.068551  129.0  56.0
488         488  0.069650  134.0  57.0
489         489  0.069986  139.0  58.0
490         490  0.069802  144.0  59.0

[491 rows x 4 columns]

In [38]:
vent_data.iloc[vent_data['score'].idxmax()]

Unnamed: 0     9.000000
score          0.069986
i             91.000000
j             58.000000
Name: 9, dtype: float64

In [39]:
pd.DataFrame(data = soc, columns = column_values).to_csv("soc.csv")
soc_data = pd.read_csv('soc.csv')
soc_data

     Unnamed: 0     score      i     j
0             0  0.000000    0.0   0.0
1             1  0.243419   51.0  50.0
2             2  0.242647   56.0  51.0
3             3  0.241727   61.0  52.0
4             4  0.241027   66.0  53.0
..          ...       ...    ...   ...
486         486  0.240002  124.0  55.0
487         487  0.239493  129.0  56.0
488         488  0.238954  134.0  57.0
489         489  0.238381  139.0  58.0
490         490  0.237564  144.0  59.0

[491 rows x 4 columns]

In [40]:
soc_data.iloc[soc_data['score'].idxmax()]

Unnamed: 0     1.000000
score          0.243419
i             51.000000
j             50.000000
Name: 1, dtype: float64

In [41]:
pd.DataFrame(data = light, columns = column_values).to_csv("light.csv")
light_data = pd.read_csv('light.csv')
light_data

     Unnamed: 0     score      i     j
0             0  0.000000    0.0   0.0
1             1  0.538195   51.0  50.0
2             2  0.537419   56.0  51.0
3             3  0.536083   61.0  52.0
4             4  0.535179   66.0  53.0
..          ...       ...    ...   ...
486         486  0.534544  124.0  55.0
487         487  0.534283  129.0  56.0
488         488  0.533777  134.0  57.0
489         489  0.533699  139.0  58.0
490         490  0.533268  144.0  59.0

[491 rows x 4 columns]

In [42]:
light_data.iloc[light_data['score'].idxmax()]

Unnamed: 0     1.000000
score          0.538195
i             51.000000
j             50.000000
Name: 1, dtype: float64

In [43]:
pd.DataFrame(data = other, columns = column_values).to_csv("other.csv")
other_data = pd.read_csv('other.csv')
other_data

## with data normalized the r2 score of other electricity comes positive

     Unnamed: 0     score      i     j
0             0  0.000000    0.0   0.0
1             1  0.068749   51.0  50.0
2             2  0.068485   56.0  51.0
3             3  0.067598   61.0  52.0
4             4  0.067040   66.0  53.0
..          ...       ...    ...   ...
486         486  0.066558  124.0  55.0
487         487  0.066415  129.0  56.0
488         488  0.065869  134.0  57.0
489         489  0.065166  139.0  58.0
490         490  0.064773  144.0  59.0

[491 rows x 4 columns]

In [44]:
other_data.iloc[other_data['score'].idxmax()]

Unnamed: 0     1.000000
score          0.068749
i             51.000000
j             50.000000
Name: 1, dtype: float64

In [45]:
pd.DataFrame(data = cool, columns = column_values).to_csv("cool.csv")
cool_data = pd.read_csv('cool.csv')
cool_data

     Unnamed: 0     score      i     j
0             0  0.000000    0.0   0.0
1             1  0.689263   51.0  50.0
2             2  0.688196   56.0  51.0
3             3  0.687328   61.0  52.0
4             4  0.685798   66.0  53.0
..          ...       ...    ...   ...
486         486  0.683545  124.0  55.0
487         487  0.681584  129.0  56.0
488         488  0.679705  134.0  57.0
489         489  0.678073  139.0  58.0
490         490  0.676828  144.0  59.0

[491 rows x 4 columns]

In [46]:
cool_data.iloc[cool_data['score'].idxmax()]

Unnamed: 0     1.000000
score          0.689263
i             51.000000
j             50.000000
Name: 1, dtype: float64

In [47]:
pd.DataFrame(data = heat, columns = column_values).to_csv("heat.csv")
heat_data = pd.read_csv('heat.csv')
heat_data

     Unnamed: 0     score      i     j
0             0  0.000000    0.0   0.0
1             1  0.507128   51.0  50.0
2             2  0.507775   56.0  51.0
3             3  0.509330   61.0  52.0
4             4  0.510206   66.0  53.0
..          ...       ...    ...   ...
486         486  0.512572  124.0  55.0
487         487  0.513629  129.0  56.0
488         488  0.514945  134.0  57.0
489         489  0.515940  139.0  58.0
490         490  0.517117  144.0  59.0

[491 rows x 4 columns]

In [48]:
heat_data.iloc[heat_data['score'].idxmax()]

Unnamed: 0    10.000000
score          0.517117
i             96.000000
j             59.000000
Name: 10, dtype: float64